/*
LLM Pulse API

REST API client for LLM Pulse AI visibility analytics.

API version: 1.51.0
Contact: info@llmpulse.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package llmpulse

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"time"
)


// ShoppingAdsAPIService ShoppingAdsAPI service
type ShoppingAdsAPIService service

type ApiListAdsRequest struct {
	ctx context.Context
	ApiService *ShoppingAdsAPIService
	projectId *int32
	page *int32
	perPage *int32
	view *string
	owned *bool
	order *string
	direction *string
	query *string
	model *string
	collectionId *string
	countryCode *string
	languageCode *string
	prompt *int32
	promptType *string
	brandKind *string
	range_ *int32
	from *time.Time
	to *time.Time
	output *string
}

// Project ID
func (r ApiListAdsRequest) ProjectId(projectId int32) ApiListAdsRequest {
	r.projectId = &projectId
	return r
}

func (r ApiListAdsRequest) Page(page int32) ApiListAdsRequest {
	r.page = &page
	return r
}

func (r ApiListAdsRequest) PerPage(perPage int32) ApiListAdsRequest {
	r.perPage = &perPage
	return r
}

// Row shape: one per advertising domain, or one per placement
func (r ApiListAdsRequest) View(view string) ApiListAdsRequest {
	r.view = &view
	return r
}

// Return only placements identified as the tracked brand&#39;s own (view&#x3D;ads)
func (r ApiListAdsRequest) Owned(owned bool) ApiListAdsRequest {
	r.owned = &owned
	return r
}

// Sort field; the allowed set depends on view
func (r ApiListAdsRequest) Order(order string) ApiListAdsRequest {
	r.order = &order
	return r
}

// Sort direction for view&#x3D;advertisers. Defaults to desc, except avg_position and domain which default to asc.
func (r ApiListAdsRequest) Direction(direction string) ApiListAdsRequest {
	r.direction = &direction
	return r
}

// Case-insensitive substring filter on the ad title, domain or snippet
func (r ApiListAdsRequest) Query(query string) ApiListAdsRequest {
	r.query = &query
	return r
}

// Filter by AI model. Models the API key&#39;s user has not enabled are silently dropped.
func (r ApiListAdsRequest) Model(model string) ApiListAdsRequest {
	r.model = &model
	return r
}

// One collection/tag ID or a comma-separated list of IDs. A query value is always a string on the wire, so it is typed as one: the previous integer-or-string union made generators emit a wrapper type they could not serialize.
func (r ApiListAdsRequest) CollectionId(collectionId string) ApiListAdsRequest {
	r.collectionId = &collectionId
	return r
}

// One ISO country code or a comma-separated list (e.g. US,GB,DE)
func (r ApiListAdsRequest) CountryCode(countryCode string) ApiListAdsRequest {
	r.countryCode = &countryCode
	return r
}

// One ISO language code or a comma-separated list (e.g. en,es,de)
func (r ApiListAdsRequest) LanguageCode(languageCode string) ApiListAdsRequest {
	r.languageCode = &languageCode
	return r
}

// Filter by prompt ID
func (r ApiListAdsRequest) Prompt(prompt int32) ApiListAdsRequest {
	r.prompt = &prompt
	return r
}

// One prompt type or a comma-separated list: informational, navigational, commercial, transactional
func (r ApiListAdsRequest) PromptType(promptType string) ApiListAdsRequest {
	r.promptType = &promptType
	return r
}

// Filter by brand kind: brand (own brand/products), brand_other (competitors/other brands), non_brand (generic, no brand named). For fair 1:1 brand-vs-competitor comparisons (visibility, share of voice), use non_brand: brand-focused prompts skew results toward the brand they name. The in-app Overview page applies non_brand by default.
func (r ApiListAdsRequest) BrandKind(brandKind string) ApiListAdsRequest {
	r.brandKind = &brandKind
	return r
}

// Number of days to look back (alternative to from/to)
func (r ApiListAdsRequest) Range_(range_ int32) ApiListAdsRequest {
	r.range_ = &range_
	return r
}

func (r ApiListAdsRequest) From(from time.Time) ApiListAdsRequest {
	r.from = &from
	return r
}

// End of the window. A date-only value such as 2026-09-01 covers that whole day. Pass a full timestamp to end the window earlier.
func (r ApiListAdsRequest) To(to time.Time) ApiListAdsRequest {
	r.to = &to
	return r
}

// Rectangular output for BI tools (Tableau, Excel, Sheets, ELT). Omit for the default nested JSON. &#39;flat&#39; returns the same metadata plus &#39;columns&#39; and &#39;rows&#39;; &#39;csv&#39; returns those rows as text/csv. Errors are always returned as JSON.
func (r ApiListAdsRequest) Output(output string) ApiListAdsRequest {
	r.output = &output
	return r
}

func (r ApiListAdsRequest) Execute() (*http.Response, error) {
	return r.ApiService.ListAdsExecute(r)
}

/*
ListAds List AI ad placements

Paid placements returned inside AI answers. view=advertisers (default) returns one row per advertising domain with its placement count, prompt reach and average and best position; view=ads returns the individual placements with title, snippet, position and the prompt that triggered them. Position 1 is the best slot, so a LOWER average position is better. Requires the Scale plan or above.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListAdsRequest
*/
func (a *ShoppingAdsAPIService) ListAds(ctx context.Context) ApiListAdsRequest {
	return ApiListAdsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *ShoppingAdsAPIService) ListAdsExecute(r ApiListAdsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ShoppingAdsAPIService.ListAds")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dimensions/ads"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectId == nil {
		return nil, reportError("projectId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project_id", r.projectId, "form", "")
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.perPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", r.perPage, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", defaultValue, "form", "")
		r.perPage = &defaultValue
	}
	if r.view != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "view", r.view, "form", "")
	} else {
		var defaultValue string = "advertisers"
		parameterAddToHeaderOrQuery(localVarQueryParams, "view", defaultValue, "form", "")
		r.view = &defaultValue
	}
	if r.owned != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "owned", r.owned, "form", "")
	}
	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order, "form", "")
	}
	if r.direction != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "direction", r.direction, "form", "")
	}
	if r.query != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "form", "")
	}
	if r.model != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "model", r.model, "form", "")
	}
	if r.collectionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "collection_id", r.collectionId, "form", "")
	}
	if r.countryCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "country_code", r.countryCode, "form", "")
	}
	if r.languageCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "language_code", r.languageCode, "form", "")
	}
	if r.prompt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prompt", r.prompt, "form", "")
	}
	if r.promptType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prompt_type", r.promptType, "form", "")
	}
	if r.brandKind != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "brand_kind", r.brandKind, "form", "")
	}
	if r.range_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "range", r.range_, "form", "")
	}
	if r.from != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	}
	if r.to != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	}
	if r.output != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "output", r.output, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiListShoppingRequest struct {
	ctx context.Context
	ApiService *ShoppingAdsAPIService
	projectId *int32
	page *int32
	perPage *int32
	view *string
	owned *bool
	order *string
	direction *string
	query *string
	model *string
	collectionId *string
	countryCode *string
	languageCode *string
	prompt *int32
	promptType *string
	brandKind *string
	range_ *int32
	from *time.Time
	to *time.Time
	output *string
}

// Project ID
func (r ApiListShoppingRequest) ProjectId(projectId int32) ApiListShoppingRequest {
	r.projectId = &projectId
	return r
}

func (r ApiListShoppingRequest) Page(page int32) ApiListShoppingRequest {
	r.page = &page
	return r
}

func (r ApiListShoppingRequest) PerPage(perPage int32) ApiListShoppingRequest {
	r.perPage = &perPage
	return r
}

// Row shape: one per distinct product, or one per merchant
func (r ApiListShoppingRequest) View(view string) ApiListShoppingRequest {
	r.view = &view
	return r
}

// Return only products identified as the tracked brand&#39;s own. On view&#x3D;merchants this narrows to the merchants selling those products; the totals block stays account-wide.
func (r ApiListShoppingRequest) Owned(owned bool) ApiListShoppingRequest {
	r.owned = &owned
	return r
}

// Sort field; the allowed set depends on view
func (r ApiListShoppingRequest) Order(order string) ApiListShoppingRequest {
	r.order = &order
	return r
}

func (r ApiListShoppingRequest) Direction(direction string) ApiListShoppingRequest {
	r.direction = &direction
	return r
}

// Case-insensitive substring filter on the product title
func (r ApiListShoppingRequest) Query(query string) ApiListShoppingRequest {
	r.query = &query
	return r
}

// Filter by AI model. Models the API key&#39;s user has not enabled are silently dropped.
func (r ApiListShoppingRequest) Model(model string) ApiListShoppingRequest {
	r.model = &model
	return r
}

// One collection/tag ID or a comma-separated list of IDs. A query value is always a string on the wire, so it is typed as one: the previous integer-or-string union made generators emit a wrapper type they could not serialize.
func (r ApiListShoppingRequest) CollectionId(collectionId string) ApiListShoppingRequest {
	r.collectionId = &collectionId
	return r
}

// One ISO country code or a comma-separated list (e.g. US,GB,DE)
func (r ApiListShoppingRequest) CountryCode(countryCode string) ApiListShoppingRequest {
	r.countryCode = &countryCode
	return r
}

// One ISO language code or a comma-separated list (e.g. en,es,de)
func (r ApiListShoppingRequest) LanguageCode(languageCode string) ApiListShoppingRequest {
	r.languageCode = &languageCode
	return r
}

// Filter by prompt ID
func (r ApiListShoppingRequest) Prompt(prompt int32) ApiListShoppingRequest {
	r.prompt = &prompt
	return r
}

// One prompt type or a comma-separated list: informational, navigational, commercial, transactional
func (r ApiListShoppingRequest) PromptType(promptType string) ApiListShoppingRequest {
	r.promptType = &promptType
	return r
}

// Filter by brand kind: brand (own brand/products), brand_other (competitors/other brands), non_brand (generic, no brand named). For fair 1:1 brand-vs-competitor comparisons (visibility, share of voice), use non_brand: brand-focused prompts skew results toward the brand they name. The in-app Overview page applies non_brand by default.
func (r ApiListShoppingRequest) BrandKind(brandKind string) ApiListShoppingRequest {
	r.brandKind = &brandKind
	return r
}

// Number of days to look back (alternative to from/to)
func (r ApiListShoppingRequest) Range_(range_ int32) ApiListShoppingRequest {
	r.range_ = &range_
	return r
}

func (r ApiListShoppingRequest) From(from time.Time) ApiListShoppingRequest {
	r.from = &from
	return r
}

// End of the window. A date-only value such as 2026-09-01 covers that whole day. Pass a full timestamp to end the window earlier.
func (r ApiListShoppingRequest) To(to time.Time) ApiListShoppingRequest {
	r.to = &to
	return r
}

// Rectangular output for BI tools (Tableau, Excel, Sheets, ELT). Omit for the default nested JSON. &#39;flat&#39; returns the same metadata plus &#39;columns&#39; and &#39;rows&#39;; &#39;csv&#39; returns those rows as text/csv. Errors are always returned as JSON.
func (r ApiListShoppingRequest) Output(output string) ApiListShoppingRequest {
	r.output = &output
	return r
}

func (r ApiListShoppingRequest) Execute() (*http.Response, error) {
	return r.ApiService.ListShoppingExecute(r)
}

/*
ListShopping List shopping results

Product cards returned inside AI answers. view=products (default) returns one row per distinct product, merged across executions, with its appearance count, price range, rating and whether it is yours, plus a currency_count saying how many currencies it was priced in (above 1 means the row reports its highest-priced listing and min_price may be another currency); view=merchants returns one row per selling merchant, with a currency field naming the money its price range and average are expressed in (providers price each market in its own currency, so a merchant that sells in more than one reports the currency most of its prices use). Every response also carries a totals block matching the KPI cards in the app, whose avg_price is computed inside the single currency named by avg_price_currency. Requires the Scale plan or above.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListShoppingRequest
*/
func (a *ShoppingAdsAPIService) ListShopping(ctx context.Context) ApiListShoppingRequest {
	return ApiListShoppingRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *ShoppingAdsAPIService) ListShoppingExecute(r ApiListShoppingRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ShoppingAdsAPIService.ListShopping")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dimensions/shopping"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectId == nil {
		return nil, reportError("projectId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project_id", r.projectId, "form", "")
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.perPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", r.perPage, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", defaultValue, "form", "")
		r.perPage = &defaultValue
	}
	if r.view != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "view", r.view, "form", "")
	} else {
		var defaultValue string = "products"
		parameterAddToHeaderOrQuery(localVarQueryParams, "view", defaultValue, "form", "")
		r.view = &defaultValue
	}
	if r.owned != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "owned", r.owned, "form", "")
	}
	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order, "form", "")
	}
	if r.direction != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "direction", r.direction, "form", "")
	} else {
		var defaultValue string = "desc"
		parameterAddToHeaderOrQuery(localVarQueryParams, "direction", defaultValue, "form", "")
		r.direction = &defaultValue
	}
	if r.query != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "form", "")
	}
	if r.model != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "model", r.model, "form", "")
	}
	if r.collectionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "collection_id", r.collectionId, "form", "")
	}
	if r.countryCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "country_code", r.countryCode, "form", "")
	}
	if r.languageCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "language_code", r.languageCode, "form", "")
	}
	if r.prompt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prompt", r.prompt, "form", "")
	}
	if r.promptType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prompt_type", r.promptType, "form", "")
	}
	if r.brandKind != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "brand_kind", r.brandKind, "form", "")
	}
	if r.range_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "range", r.range_, "form", "")
	}
	if r.from != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	}
	if r.to != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	}
	if r.output != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "output", r.output, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
