/*
LLM Pulse API

REST API client for LLM Pulse AI visibility analytics.

API version: 1.56.0
Contact: info@llmpulse.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package llmpulse

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"time"
)


// SearchConsoleAPIService SearchConsoleAPI service
type SearchConsoleAPIService service

type ApiGetSearchConsolePagesRequest struct {
	ctx context.Context
	ApiService *SearchConsoleAPIService
	projectId *int32
	range_ *int32
	from *time.Time
	to *time.Time
	sort *string
	page *int32
	perPage *int32
	output *string
	searchType *string
	filters *string
	dataState *string
}

// Project ID
func (r ApiGetSearchConsolePagesRequest) ProjectId(projectId int32) ApiGetSearchConsolePagesRequest {
	r.projectId = &projectId
	return r
}

// Number of days to look back (alternative to from/to)
func (r ApiGetSearchConsolePagesRequest) Range_(range_ int32) ApiGetSearchConsolePagesRequest {
	r.range_ = &range_
	return r
}

func (r ApiGetSearchConsolePagesRequest) From(from time.Time) ApiGetSearchConsolePagesRequest {
	r.from = &from
	return r
}

// End of the window. A date-only value such as 2026-09-01 covers that whole day. Pass a full timestamp to end the window earlier.
func (r ApiGetSearchConsolePagesRequest) To(to time.Time) ApiGetSearchConsolePagesRequest {
	r.to = &to
	return r
}

func (r ApiGetSearchConsolePagesRequest) Sort(sort string) ApiGetSearchConsolePagesRequest {
	r.sort = &sort
	return r
}

func (r ApiGetSearchConsolePagesRequest) Page(page int32) ApiGetSearchConsolePagesRequest {
	r.page = &page
	return r
}

func (r ApiGetSearchConsolePagesRequest) PerPage(perPage int32) ApiGetSearchConsolePagesRequest {
	r.perPage = &perPage
	return r
}

// Rectangular output for BI tools (Tableau, Excel, Sheets, ELT). Omit for the default nested JSON. &#39;flat&#39; returns the same metadata plus &#39;columns&#39; and &#39;rows&#39;; &#39;csv&#39; returns those rows as text/csv. Errors are always returned as JSON.
func (r ApiGetSearchConsolePagesRequest) Output(output string) ApiGetSearchConsolePagesRequest {
	r.output = &output
	return r
}

// Which search surface to measure. Defaults to web. discover and googleNews carry no query dimension, so Google rejects /search_console/queries for them.
func (r ApiGetSearchConsolePagesRequest) SearchType(searchType string) ApiGetSearchConsolePagesRequest {
	r.searchType = &searchType
	return r
}

// Narrow the query; every entry must match (AND). Send the whole list as one JSON value: filters&#x3D;[{\&quot;dimension\&quot;:\&quot;page\&quot;,\&quot;operator\&quot;:\&quot;contains\&quot;,\&quot;expression\&quot;:\&quot;/blog/\&quot;}] (URL-encoded). An array of objects has no query-parameter form a generated client can produce, so the string is what the official SDKs send; see the SearchConsoleFilters schema for the shape it encodes. includingRegex and excludingRegex take RE2 syntax. At most 10 entries, expression at most 500 characters. The bracket form filters[][dimension]&#x3D;page&amp;filters[][operator]&#x3D;contains&amp;filters[][expression]&#x3D;/blog/ is also accepted.
func (r ApiGetSearchConsolePagesRequest) Filters(filters string) ApiGetSearchConsolePagesRequest {
	r.filters = &filters
	return r
}

// final (default) counts only rows Google has finalized. all also counts the most recent days, which are still being filled in and will change.
func (r ApiGetSearchConsolePagesRequest) DataState(dataState string) ApiGetSearchConsolePagesRequest {
	r.dataState = &dataState
	return r
}

func (r ApiGetSearchConsolePagesRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetSearchConsolePagesExecute(r)
}

/*
GetSearchConsolePages Top Search Console pages (Growth+)

Top Google Search Console landing pages over a date range, ranked by impressions, clicks, ctr or position, paginated. Requires a connected Search Console property (Growth+). X-Search-Console-Backend identifies stored or live reads. Stored reads use synced data without contacting Google. Live reads return ERR_SEARCH_CONSOLE_ACCESS_REVOKED (403) for revoked Google access; reconnect the property in Preferences > Project Settings > Data Connections. They return ERR_SEARCH_CONSOLE_UPSTREAM (503) when Google Search Console is unavailable or over quota; wait for the number of seconds in Retry-After before retrying. total counts distinct keys available for the range: keys from synced daily rows for stored reads, or up to 25,000 rows from one Google request for live reads. Live responses include truncated: true when that limit is reached. Sorting and pagination apply to the available set.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetSearchConsolePagesRequest
*/
func (a *SearchConsoleAPIService) GetSearchConsolePages(ctx context.Context) ApiGetSearchConsolePagesRequest {
	return ApiGetSearchConsolePagesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *SearchConsoleAPIService) GetSearchConsolePagesExecute(r ApiGetSearchConsolePagesRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SearchConsoleAPIService.GetSearchConsolePages")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/search_console/pages"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectId == nil {
		return nil, reportError("projectId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project_id", r.projectId, "form", "")
	if r.range_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "range", r.range_, "form", "")
	}
	if r.from != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	}
	if r.to != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	} else {
		var defaultValue string = "impressions"
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", defaultValue, "form", "")
		r.sort = &defaultValue
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.perPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", r.perPage, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", defaultValue, "form", "")
		r.perPage = &defaultValue
	}
	if r.output != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "output", r.output, "form", "")
	}
	if r.searchType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search_type", r.searchType, "form", "")
	} else {
		var defaultValue string = "web"
		parameterAddToHeaderOrQuery(localVarQueryParams, "search_type", defaultValue, "form", "")
		r.searchType = &defaultValue
	}
	if r.filters != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filters", r.filters, "form", "")
	}
	if r.dataState != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "data_state", r.dataState, "form", "")
	} else {
		var defaultValue string = "final"
		parameterAddToHeaderOrQuery(localVarQueryParams, "data_state", defaultValue, "form", "")
		r.dataState = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetSearchConsoleQueriesRequest struct {
	ctx context.Context
	ApiService *SearchConsoleAPIService
	projectId *int32
	range_ *int32
	from *time.Time
	to *time.Time
	sort *string
	page *int32
	perPage *int32
	output *string
	searchType *string
	filters *string
	dataState *string
}

// Project ID
func (r ApiGetSearchConsoleQueriesRequest) ProjectId(projectId int32) ApiGetSearchConsoleQueriesRequest {
	r.projectId = &projectId
	return r
}

// Number of days to look back (alternative to from/to)
func (r ApiGetSearchConsoleQueriesRequest) Range_(range_ int32) ApiGetSearchConsoleQueriesRequest {
	r.range_ = &range_
	return r
}

func (r ApiGetSearchConsoleQueriesRequest) From(from time.Time) ApiGetSearchConsoleQueriesRequest {
	r.from = &from
	return r
}

// End of the window. A date-only value such as 2026-09-01 covers that whole day. Pass a full timestamp to end the window earlier.
func (r ApiGetSearchConsoleQueriesRequest) To(to time.Time) ApiGetSearchConsoleQueriesRequest {
	r.to = &to
	return r
}

func (r ApiGetSearchConsoleQueriesRequest) Sort(sort string) ApiGetSearchConsoleQueriesRequest {
	r.sort = &sort
	return r
}

func (r ApiGetSearchConsoleQueriesRequest) Page(page int32) ApiGetSearchConsoleQueriesRequest {
	r.page = &page
	return r
}

func (r ApiGetSearchConsoleQueriesRequest) PerPage(perPage int32) ApiGetSearchConsoleQueriesRequest {
	r.perPage = &perPage
	return r
}

// Rectangular output for BI tools (Tableau, Excel, Sheets, ELT). Omit for the default nested JSON. &#39;flat&#39; returns the same metadata plus &#39;columns&#39; and &#39;rows&#39;; &#39;csv&#39; returns those rows as text/csv. Errors are always returned as JSON.
func (r ApiGetSearchConsoleQueriesRequest) Output(output string) ApiGetSearchConsoleQueriesRequest {
	r.output = &output
	return r
}

// Which search surface to measure. Defaults to web. discover and googleNews carry no query dimension, so Google rejects /search_console/queries for them.
func (r ApiGetSearchConsoleQueriesRequest) SearchType(searchType string) ApiGetSearchConsoleQueriesRequest {
	r.searchType = &searchType
	return r
}

// Narrow the query; every entry must match (AND). Send the whole list as one JSON value: filters&#x3D;[{\&quot;dimension\&quot;:\&quot;page\&quot;,\&quot;operator\&quot;:\&quot;contains\&quot;,\&quot;expression\&quot;:\&quot;/blog/\&quot;}] (URL-encoded). An array of objects has no query-parameter form a generated client can produce, so the string is what the official SDKs send; see the SearchConsoleFilters schema for the shape it encodes. includingRegex and excludingRegex take RE2 syntax. At most 10 entries, expression at most 500 characters. The bracket form filters[][dimension]&#x3D;page&amp;filters[][operator]&#x3D;contains&amp;filters[][expression]&#x3D;/blog/ is also accepted.
func (r ApiGetSearchConsoleQueriesRequest) Filters(filters string) ApiGetSearchConsoleQueriesRequest {
	r.filters = &filters
	return r
}

// final (default) counts only rows Google has finalized. all also counts the most recent days, which are still being filled in and will change.
func (r ApiGetSearchConsoleQueriesRequest) DataState(dataState string) ApiGetSearchConsoleQueriesRequest {
	r.dataState = &dataState
	return r
}

func (r ApiGetSearchConsoleQueriesRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetSearchConsoleQueriesExecute(r)
}

/*
GetSearchConsoleQueries Top Search Console queries (Growth+)

Top Google Search Console search queries over a date range, ranked by impressions, clicks, ctr or position, paginated. Excludes anonymized queries; for headline totals use /search_console/summary. Requires a connected Search Console property (Growth+). X-Search-Console-Backend identifies stored or live reads. Stored reads use synced data without contacting Google. Live reads return ERR_SEARCH_CONSOLE_ACCESS_REVOKED (403) for revoked Google access; reconnect the property in Preferences > Project Settings > Data Connections. They return ERR_SEARCH_CONSOLE_UPSTREAM (503) when Google Search Console is unavailable or over quota; wait for the number of seconds in Retry-After before retrying. total counts distinct keys available for the range: keys from synced daily rows for stored reads, or up to 25,000 rows from one Google request for live reads. Live responses include truncated: true when that limit is reached. Sorting and pagination apply to the available set.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetSearchConsoleQueriesRequest
*/
func (a *SearchConsoleAPIService) GetSearchConsoleQueries(ctx context.Context) ApiGetSearchConsoleQueriesRequest {
	return ApiGetSearchConsoleQueriesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *SearchConsoleAPIService) GetSearchConsoleQueriesExecute(r ApiGetSearchConsoleQueriesRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SearchConsoleAPIService.GetSearchConsoleQueries")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/search_console/queries"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectId == nil {
		return nil, reportError("projectId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project_id", r.projectId, "form", "")
	if r.range_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "range", r.range_, "form", "")
	}
	if r.from != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	}
	if r.to != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	} else {
		var defaultValue string = "impressions"
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", defaultValue, "form", "")
		r.sort = &defaultValue
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.perPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", r.perPage, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", defaultValue, "form", "")
		r.perPage = &defaultValue
	}
	if r.output != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "output", r.output, "form", "")
	}
	if r.searchType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search_type", r.searchType, "form", "")
	} else {
		var defaultValue string = "web"
		parameterAddToHeaderOrQuery(localVarQueryParams, "search_type", defaultValue, "form", "")
		r.searchType = &defaultValue
	}
	if r.filters != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filters", r.filters, "form", "")
	}
	if r.dataState != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "data_state", r.dataState, "form", "")
	} else {
		var defaultValue string = "final"
		parameterAddToHeaderOrQuery(localVarQueryParams, "data_state", defaultValue, "form", "")
		r.dataState = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetSearchConsoleSummaryRequest struct {
	ctx context.Context
	ApiService *SearchConsoleAPIService
	projectId *int32
	range_ *int32
	from *time.Time
	to *time.Time
	dimension *string
	limit *int32
	searchType *string
	filters *string
	dataState *string
}

// Project ID
func (r ApiGetSearchConsoleSummaryRequest) ProjectId(projectId int32) ApiGetSearchConsoleSummaryRequest {
	r.projectId = &projectId
	return r
}

// Number of days to look back (alternative to from/to)
func (r ApiGetSearchConsoleSummaryRequest) Range_(range_ int32) ApiGetSearchConsoleSummaryRequest {
	r.range_ = &range_
	return r
}

func (r ApiGetSearchConsoleSummaryRequest) From(from time.Time) ApiGetSearchConsoleSummaryRequest {
	r.from = &from
	return r
}

// End of the window. A date-only value such as 2026-09-01 covers that whole day. Pass a full timestamp to end the window earlier.
func (r ApiGetSearchConsoleSummaryRequest) To(to time.Time) ApiGetSearchConsoleSummaryRequest {
	r.to = &to
	return r
}

// Optional breakdown aggregated over the range. country and device are lowercased; page and query keep the casing Google returns, because a page URL is case sensitive.
func (r ApiGetSearchConsoleSummaryRequest) Dimension(dimension string) ApiGetSearchConsoleSummaryRequest {
	r.dimension = &dimension
	return r
}

// Maximum breakdown rows, sorted by impressions descending. Default and maximum 1000. Use /search_console/queries or /search_console/pages to page through a full list.
func (r ApiGetSearchConsoleSummaryRequest) Limit(limit int32) ApiGetSearchConsoleSummaryRequest {
	r.limit = &limit
	return r
}

// Which search surface to measure. Defaults to web. discover and googleNews carry no query dimension, so Google rejects /search_console/queries for them.
func (r ApiGetSearchConsoleSummaryRequest) SearchType(searchType string) ApiGetSearchConsoleSummaryRequest {
	r.searchType = &searchType
	return r
}

// Narrow the query; every entry must match (AND). Send the whole list as one JSON value: filters&#x3D;[{\&quot;dimension\&quot;:\&quot;page\&quot;,\&quot;operator\&quot;:\&quot;contains\&quot;,\&quot;expression\&quot;:\&quot;/blog/\&quot;}] (URL-encoded). An array of objects has no query-parameter form a generated client can produce, so the string is what the official SDKs send; see the SearchConsoleFilters schema for the shape it encodes. includingRegex and excludingRegex take RE2 syntax. At most 10 entries, expression at most 500 characters. The bracket form filters[][dimension]&#x3D;page&amp;filters[][operator]&#x3D;contains&amp;filters[][expression]&#x3D;/blog/ is also accepted.
func (r ApiGetSearchConsoleSummaryRequest) Filters(filters string) ApiGetSearchConsoleSummaryRequest {
	r.filters = &filters
	return r
}

// final (default) counts only rows Google has finalized. all also counts the most recent days, which are still being filled in and will change.
func (r ApiGetSearchConsoleSummaryRequest) DataState(dataState string) ApiGetSearchConsoleSummaryRequest {
	r.dataState = &dataState
	return r
}

func (r ApiGetSearchConsoleSummaryRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetSearchConsoleSummaryExecute(r)
}

/*
GetSearchConsoleSummary Search Console summary (Growth+)

Google Search Console headline totals (impressions, clicks, ctr as a 0..1 fraction, average position) for the project over a date range. Pass dimension=country, device, page, query or searchAppearance to also receive the breakdown aggregated over the range, capped by limit. Requires the project to have a connected Search Console property and the Growth plan or above; otherwise returns ERR_SEARCH_CONSOLE_NOT_CONNECTED or ERR_PLAN_REQUIRED. X-Search-Console-Backend identifies stored or live reads. Stored reads use synced data without contacting Google. Live reads return ERR_SEARCH_CONSOLE_ACCESS_REVOKED (403) for revoked Google access; reconnect the property in Preferences > Project Settings > Data Connections. They return ERR_SEARCH_CONSOLE_UPSTREAM (503) when Google Search Console is unavailable or over quota; wait for the number of seconds in Retry-After before retrying.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetSearchConsoleSummaryRequest
*/
func (a *SearchConsoleAPIService) GetSearchConsoleSummary(ctx context.Context) ApiGetSearchConsoleSummaryRequest {
	return ApiGetSearchConsoleSummaryRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *SearchConsoleAPIService) GetSearchConsoleSummaryExecute(r ApiGetSearchConsoleSummaryRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SearchConsoleAPIService.GetSearchConsoleSummary")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/search_console/summary"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectId == nil {
		return nil, reportError("projectId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project_id", r.projectId, "form", "")
	if r.range_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "range", r.range_, "form", "")
	}
	if r.from != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	}
	if r.to != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	}
	if r.dimension != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dimension", r.dimension, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.searchType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search_type", r.searchType, "form", "")
	} else {
		var defaultValue string = "web"
		parameterAddToHeaderOrQuery(localVarQueryParams, "search_type", defaultValue, "form", "")
		r.searchType = &defaultValue
	}
	if r.filters != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filters", r.filters, "form", "")
	}
	if r.dataState != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "data_state", r.dataState, "form", "")
	} else {
		var defaultValue string = "final"
		parameterAddToHeaderOrQuery(localVarQueryParams, "data_state", defaultValue, "form", "")
		r.dataState = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetSearchConsoleTimeseriesRequest struct {
	ctx context.Context
	ApiService *SearchConsoleAPIService
	projectId *int32
	range_ *int32
	from *time.Time
	to *time.Time
	granularity *string
	output *string
	searchType *string
	filters *string
	dataState *string
}

// Project ID
func (r ApiGetSearchConsoleTimeseriesRequest) ProjectId(projectId int32) ApiGetSearchConsoleTimeseriesRequest {
	r.projectId = &projectId
	return r
}

// Number of days to look back (alternative to from/to)
func (r ApiGetSearchConsoleTimeseriesRequest) Range_(range_ int32) ApiGetSearchConsoleTimeseriesRequest {
	r.range_ = &range_
	return r
}

func (r ApiGetSearchConsoleTimeseriesRequest) From(from time.Time) ApiGetSearchConsoleTimeseriesRequest {
	r.from = &from
	return r
}

// End of the window. A date-only value such as 2026-09-01 covers that whole day. Pass a full timestamp to end the window earlier.
func (r ApiGetSearchConsoleTimeseriesRequest) To(to time.Time) ApiGetSearchConsoleTimeseriesRequest {
	r.to = &to
	return r
}

func (r ApiGetSearchConsoleTimeseriesRequest) Granularity(granularity string) ApiGetSearchConsoleTimeseriesRequest {
	r.granularity = &granularity
	return r
}

// Rectangular output for BI tools (Tableau, Excel, Sheets, ELT). Omit for the default nested JSON. &#39;flat&#39; returns the same metadata plus &#39;columns&#39; and &#39;rows&#39;; &#39;csv&#39; returns those rows as text/csv. Errors are always returned as JSON.
func (r ApiGetSearchConsoleTimeseriesRequest) Output(output string) ApiGetSearchConsoleTimeseriesRequest {
	r.output = &output
	return r
}

// Which search surface to measure. Defaults to web. discover and googleNews carry no query dimension, so Google rejects /search_console/queries for them.
func (r ApiGetSearchConsoleTimeseriesRequest) SearchType(searchType string) ApiGetSearchConsoleTimeseriesRequest {
	r.searchType = &searchType
	return r
}

// Narrow the query; every entry must match (AND). Send the whole list as one JSON value: filters&#x3D;[{\&quot;dimension\&quot;:\&quot;page\&quot;,\&quot;operator\&quot;:\&quot;contains\&quot;,\&quot;expression\&quot;:\&quot;/blog/\&quot;}] (URL-encoded). An array of objects has no query-parameter form a generated client can produce, so the string is what the official SDKs send; see the SearchConsoleFilters schema for the shape it encodes. includingRegex and excludingRegex take RE2 syntax. At most 10 entries, expression at most 500 characters. The bracket form filters[][dimension]&#x3D;page&amp;filters[][operator]&#x3D;contains&amp;filters[][expression]&#x3D;/blog/ is also accepted.
func (r ApiGetSearchConsoleTimeseriesRequest) Filters(filters string) ApiGetSearchConsoleTimeseriesRequest {
	r.filters = &filters
	return r
}

// final (default) counts only rows Google has finalized. all also counts the most recent days, which are still being filled in and will change.
func (r ApiGetSearchConsoleTimeseriesRequest) DataState(dataState string) ApiGetSearchConsoleTimeseriesRequest {
	r.dataState = &dataState
	return r
}

func (r ApiGetSearchConsoleTimeseriesRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetSearchConsoleTimeseriesExecute(r)
}

/*
GetSearchConsoleTimeseries Search Console time series (Growth+)

Google Search Console property-wide series (impressions, clicks, ctr, position) bucketed by day, week or month. Requires a connected Search Console property (Growth+). X-Search-Console-Backend identifies stored or live reads. Stored reads use synced data without contacting Google. Live reads return ERR_SEARCH_CONSOLE_ACCESS_REVOKED (403) for revoked Google access; reconnect the property in Preferences > Project Settings > Data Connections. They return ERR_SEARCH_CONSOLE_UPSTREAM (503) when Google Search Console is unavailable or over quota; wait for the number of seconds in Retry-After before retrying.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetSearchConsoleTimeseriesRequest
*/
func (a *SearchConsoleAPIService) GetSearchConsoleTimeseries(ctx context.Context) ApiGetSearchConsoleTimeseriesRequest {
	return ApiGetSearchConsoleTimeseriesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *SearchConsoleAPIService) GetSearchConsoleTimeseriesExecute(r ApiGetSearchConsoleTimeseriesRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SearchConsoleAPIService.GetSearchConsoleTimeseries")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/search_console/timeseries"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectId == nil {
		return nil, reportError("projectId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project_id", r.projectId, "form", "")
	if r.range_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "range", r.range_, "form", "")
	}
	if r.from != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	}
	if r.to != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	}
	if r.granularity != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "granularity", r.granularity, "form", "")
	}
	if r.output != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "output", r.output, "form", "")
	}
	if r.searchType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search_type", r.searchType, "form", "")
	} else {
		var defaultValue string = "web"
		parameterAddToHeaderOrQuery(localVarQueryParams, "search_type", defaultValue, "form", "")
		r.searchType = &defaultValue
	}
	if r.filters != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filters", r.filters, "form", "")
	}
	if r.dataState != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "data_state", r.dataState, "form", "")
	} else {
		var defaultValue string = "final"
		parameterAddToHeaderOrQuery(localVarQueryParams, "data_state", defaultValue, "form", "")
		r.dataState = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
