/*
LLM Pulse API

REST API client for LLM Pulse AI visibility analytics.

API version: 1.22.0
Contact: info@llmpulse.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package llmpulse

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"time"
)


// MetricsAPIService MetricsAPI service
type MetricsAPIService service

type ApiGetAgentTrafficRequest struct {
	ctx context.Context
	ApiService *MetricsAPIService
	projectId *int32
	range_ *int32
	from *time.Time
	to *time.Time
	bot *string
	company *string
	groupBy *string
	granularity *string
}

// Project ID
func (r ApiGetAgentTrafficRequest) ProjectId(projectId int32) ApiGetAgentTrafficRequest {
	r.projectId = &projectId
	return r
}

// Number of days to look back (alternative to from/to)
func (r ApiGetAgentTrafficRequest) Range_(range_ int32) ApiGetAgentTrafficRequest {
	r.range_ = &range_
	return r
}

func (r ApiGetAgentTrafficRequest) From(from time.Time) ApiGetAgentTrafficRequest {
	r.from = &from
	return r
}

func (r ApiGetAgentTrafficRequest) To(to time.Time) ApiGetAgentTrafficRequest {
	r.to = &to
	return r
}

// Filter by bot slug (e.g. gptbot, claudebot, perplexitybot)
func (r ApiGetAgentTrafficRequest) Bot(bot string) ApiGetAgentTrafficRequest {
	r.bot = &bot
	return r
}

// Filter by company (e.g. openai, anthropic, google)
func (r ApiGetAgentTrafficRequest) Company(company string) ApiGetAgentTrafficRequest {
	r.company = &company
	return r
}

func (r ApiGetAgentTrafficRequest) GroupBy(groupBy string) ApiGetAgentTrafficRequest {
	r.groupBy = &groupBy
	return r
}

func (r ApiGetAgentTrafficRequest) Granularity(granularity string) ApiGetAgentTrafficRequest {
	r.granularity = &granularity
	return r
}

func (r ApiGetAgentTrafficRequest) Execute() (*AgentTrafficResponse, *http.Response, error) {
	return r.ApiService.GetAgentTrafficExecute(r)
}

/*
GetAgentTraffic AI bot crawler traffic (Scale+, Beta)

Aggregated AI bot traffic hitting the project's origin server (GPTBot, PerplexityBot, ClaudeBot, OAI-SearchBot, Google-Extended, etc.). Sourced from Cloudflare or CSV uploads. Requires the Scale plan; lower tiers receive ERR_PLAN_REQUIRED.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetAgentTrafficRequest
*/
func (a *MetricsAPIService) GetAgentTraffic(ctx context.Context) ApiGetAgentTrafficRequest {
	return ApiGetAgentTrafficRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AgentTrafficResponse
func (a *MetricsAPIService) GetAgentTrafficExecute(r ApiGetAgentTrafficRequest) (*AgentTrafficResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AgentTrafficResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MetricsAPIService.GetAgentTraffic")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/metrics/agent_traffic"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectId == nil {
		return localVarReturnValue, nil, reportError("projectId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project_id", r.projectId, "form", "")
	if r.range_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "range", r.range_, "form", "")
	}
	if r.from != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	}
	if r.to != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	}
	if r.bot != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bot", r.bot, "form", "")
	}
	if r.company != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "company", r.company, "form", "")
	}
	if r.groupBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "group_by", r.groupBy, "form", "")
	} else {
		var defaultValue string = "bot"
		parameterAddToHeaderOrQuery(localVarQueryParams, "group_by", defaultValue, "form", "")
		r.groupBy = &defaultValue
	}
	if r.granularity != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "granularity", r.granularity, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetAiTrafficRequest struct {
	ctx context.Context
	ApiService *MetricsAPIService
	projectId *int32
	range_ *int32
	from *time.Time
	to *time.Time
	source *string
	granularity *string
}

// Project ID
func (r ApiGetAiTrafficRequest) ProjectId(projectId int32) ApiGetAiTrafficRequest {
	r.projectId = &projectId
	return r
}

// Number of days to look back (alternative to from/to)
func (r ApiGetAiTrafficRequest) Range_(range_ int32) ApiGetAiTrafficRequest {
	r.range_ = &range_
	return r
}

func (r ApiGetAiTrafficRequest) From(from time.Time) ApiGetAiTrafficRequest {
	r.from = &from
	return r
}

func (r ApiGetAiTrafficRequest) To(to time.Time) ApiGetAiTrafficRequest {
	r.to = &to
	return r
}

// Filter by a single AI source slug (e.g. chatgpt, perplexity, gemini, claude)
func (r ApiGetAiTrafficRequest) Source(source string) ApiGetAiTrafficRequest {
	r.source = &source
	return r
}

func (r ApiGetAiTrafficRequest) Granularity(granularity string) ApiGetAiTrafficRequest {
	r.granularity = &granularity
	return r
}

func (r ApiGetAiTrafficRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetAiTrafficExecute(r)
}

/*
GetAiTraffic AI referral traffic (Scale+)

AI referral traffic for a project: human visits arriving from AI assistants (ChatGPT, Perplexity, Gemini, Claude, etc.), measured from the connected web analytics provider (Google Analytics 4, Adobe Analytics, PostHog, Plausible or Piano). Returns per-source users, sessions and conversions with totals and a conversion rate. Requires a connected provider and the Scale plan; otherwise returns ERR_AI_TRAFFIC_NOT_CONNECTED or ERR_PLAN_REQUIRED.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetAiTrafficRequest
*/
func (a *MetricsAPIService) GetAiTraffic(ctx context.Context) ApiGetAiTrafficRequest {
	return ApiGetAiTrafficRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *MetricsAPIService) GetAiTrafficExecute(r ApiGetAiTrafficRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MetricsAPIService.GetAiTraffic")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/metrics/ai_traffic"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectId == nil {
		return nil, reportError("projectId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project_id", r.projectId, "form", "")
	if r.range_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "range", r.range_, "form", "")
	}
	if r.from != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	}
	if r.to != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	}
	if r.source != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source", r.source, "form", "")
	}
	if r.granularity != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "granularity", r.granularity, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetPromptSummaryRequest struct {
	ctx context.Context
	ApiService *MetricsAPIService
	projectId *int32
	range_ *int32
	from *time.Time
	to *time.Time
	breakdown *string
	model *string
	collectionId *int32
	countryCode *string
	languageCode *string
	prompt *int32
	promptType *string
	brandKind *string
	sort *string
	sortDir *string
	page *int32
	perPage *int32
	output *string
}

// Project ID
func (r ApiGetPromptSummaryRequest) ProjectId(projectId int32) ApiGetPromptSummaryRequest {
	r.projectId = &projectId
	return r
}

// Number of days to look back (alternative to from/to)
func (r ApiGetPromptSummaryRequest) Range_(range_ int32) ApiGetPromptSummaryRequest {
	r.range_ = &range_
	return r
}

func (r ApiGetPromptSummaryRequest) From(from time.Time) ApiGetPromptSummaryRequest {
	r.from = &from
	return r
}

func (r ApiGetPromptSummaryRequest) To(to time.Time) ApiGetPromptSummaryRequest {
	r.to = &to
	return r
}

// Add per-(prompt, model) rows to the output
func (r ApiGetPromptSummaryRequest) Breakdown(breakdown string) ApiGetPromptSummaryRequest {
	r.breakdown = &breakdown
	return r
}

// Filter by AI model. Models the API key&#39;s user has not enabled are silently dropped.
func (r ApiGetPromptSummaryRequest) Model(model string) ApiGetPromptSummaryRequest {
	r.model = &model
	return r
}

func (r ApiGetPromptSummaryRequest) CollectionId(collectionId int32) ApiGetPromptSummaryRequest {
	r.collectionId = &collectionId
	return r
}

// ISO country code (e.g. US, GB, DE)
func (r ApiGetPromptSummaryRequest) CountryCode(countryCode string) ApiGetPromptSummaryRequest {
	r.countryCode = &countryCode
	return r
}

// ISO language code (e.g. en, es, de)
func (r ApiGetPromptSummaryRequest) LanguageCode(languageCode string) ApiGetPromptSummaryRequest {
	r.languageCode = &languageCode
	return r
}

// Filter by prompt ID
func (r ApiGetPromptSummaryRequest) Prompt(prompt int32) ApiGetPromptSummaryRequest {
	r.prompt = &prompt
	return r
}

// Filter by prompt type (search intent)
func (r ApiGetPromptSummaryRequest) PromptType(promptType string) ApiGetPromptSummaryRequest {
	r.promptType = &promptType
	return r
}

// Filter by brand kind: brand (own brand/products), brand_other (competitors/other brands), non_brand (generic, no brand named). For fair 1:1 brand-vs-competitor comparisons (visibility, share of voice), use non_brand: brand-focused prompts skew results toward the brand they name. The in-app Overview page applies non_brand by default.
func (r ApiGetPromptSummaryRequest) BrandKind(brandKind string) ApiGetPromptSummaryRequest {
	r.brandKind = &brandKind
	return r
}

func (r ApiGetPromptSummaryRequest) Sort(sort string) ApiGetPromptSummaryRequest {
	r.sort = &sort
	return r
}

func (r ApiGetPromptSummaryRequest) SortDir(sortDir string) ApiGetPromptSummaryRequest {
	r.sortDir = &sortDir
	return r
}

func (r ApiGetPromptSummaryRequest) Page(page int32) ApiGetPromptSummaryRequest {
	r.page = &page
	return r
}

func (r ApiGetPromptSummaryRequest) PerPage(perPage int32) ApiGetPromptSummaryRequest {
	r.perPage = &perPage
	return r
}

// Rectangular output for BI tools (Tableau, Excel, Sheets, ELT). Omit for the default nested JSON. &#39;flat&#39; returns the same metadata plus &#39;columns&#39; and &#39;rows&#39;; &#39;csv&#39; returns those rows as text/csv. Errors are always returned as JSON.
func (r ApiGetPromptSummaryRequest) Output(output string) ApiGetPromptSummaryRequest {
	r.output = &output
	return r
}

func (r ApiGetPromptSummaryRequest) Execute() (*PromptSummaryResponse, *http.Response, error) {
	return r.ApiService.GetPromptSummaryExecute(r)
}

/*
GetPromptSummary Per-prompt metrics summary

Paginated per-prompt aggregated metrics. Returns responses, mentions, citations, mention_rate, citation_rate, avg_mention_position and avg_position per prompt. Citations and citation rate include visible citations and background source references; avg_position uses visible citations only. Pass `breakdown=model` to split each prompt by model.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetPromptSummaryRequest
*/
func (a *MetricsAPIService) GetPromptSummary(ctx context.Context) ApiGetPromptSummaryRequest {
	return ApiGetPromptSummaryRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PromptSummaryResponse
func (a *MetricsAPIService) GetPromptSummaryExecute(r ApiGetPromptSummaryRequest) (*PromptSummaryResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PromptSummaryResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MetricsAPIService.GetPromptSummary")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/metrics/prompt_summary"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectId == nil {
		return localVarReturnValue, nil, reportError("projectId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project_id", r.projectId, "form", "")
	if r.range_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "range", r.range_, "form", "")
	}
	if r.from != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	}
	if r.to != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	}
	if r.breakdown != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "breakdown", r.breakdown, "form", "")
	}
	if r.model != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "model", r.model, "form", "")
	}
	if r.collectionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "collection_id", r.collectionId, "form", "")
	}
	if r.countryCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "country_code", r.countryCode, "form", "")
	}
	if r.languageCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "language_code", r.languageCode, "form", "")
	}
	if r.prompt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prompt", r.prompt, "form", "")
	}
	if r.promptType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prompt_type", r.promptType, "form", "")
	}
	if r.brandKind != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "brand_kind", r.brandKind, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	} else {
		var defaultValue string = "responses"
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", defaultValue, "form", "")
		r.sort = &defaultValue
	}
	if r.sortDir != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_dir", r.sortDir, "form", "")
	} else {
		var defaultValue string = "desc"
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_dir", defaultValue, "form", "")
		r.sortDir = &defaultValue
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.perPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", r.perPage, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", defaultValue, "form", "")
		r.perPage = &defaultValue
	}
	if r.output != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "output", r.output, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetShareOfVoiceRequest struct {
	ctx context.Context
	ApiService *MetricsAPIService
	projectId *int32
	range_ *int32
	from *time.Time
	to *time.Time
	granularity *string
	competitors *string
	model *string
	collectionId *int32
	prompt *int32
	promptType *string
	brandKind *string
	output *string
	view *string
}

// Project ID
func (r ApiGetShareOfVoiceRequest) ProjectId(projectId int32) ApiGetShareOfVoiceRequest {
	r.projectId = &projectId
	return r
}

// Number of days to look back (alternative to from/to)
func (r ApiGetShareOfVoiceRequest) Range_(range_ int32) ApiGetShareOfVoiceRequest {
	r.range_ = &range_
	return r
}

func (r ApiGetShareOfVoiceRequest) From(from time.Time) ApiGetShareOfVoiceRequest {
	r.from = &from
	return r
}

func (r ApiGetShareOfVoiceRequest) To(to time.Time) ApiGetShareOfVoiceRequest {
	r.to = &to
	return r
}

func (r ApiGetShareOfVoiceRequest) Granularity(granularity string) ApiGetShareOfVoiceRequest {
	r.granularity = &granularity
	return r
}

// Comma-separated competitor IDs (unknown IDs return ERR_INVALID_PARAM)
func (r ApiGetShareOfVoiceRequest) Competitors(competitors string) ApiGetShareOfVoiceRequest {
	r.competitors = &competitors
	return r
}

// Filter by AI model. Models the API key&#39;s user has not enabled are silently dropped.
func (r ApiGetShareOfVoiceRequest) Model(model string) ApiGetShareOfVoiceRequest {
	r.model = &model
	return r
}

func (r ApiGetShareOfVoiceRequest) CollectionId(collectionId int32) ApiGetShareOfVoiceRequest {
	r.collectionId = &collectionId
	return r
}

// Filter by prompt ID
func (r ApiGetShareOfVoiceRequest) Prompt(prompt int32) ApiGetShareOfVoiceRequest {
	r.prompt = &prompt
	return r
}

// Filter by prompt type (search intent)
func (r ApiGetShareOfVoiceRequest) PromptType(promptType string) ApiGetShareOfVoiceRequest {
	r.promptType = &promptType
	return r
}

// Filter by brand kind: brand (own brand/products), brand_other (competitors/other brands), non_brand (generic, no brand named). For fair 1:1 brand-vs-competitor comparisons (visibility, share of voice), use non_brand: brand-focused prompts skew results toward the brand they name. The in-app Overview page applies non_brand by default.
func (r ApiGetShareOfVoiceRequest) BrandKind(brandKind string) ApiGetShareOfVoiceRequest {
	r.brandKind = &brandKind
	return r
}

// Rectangular output for BI tools (Tableau, Excel, Sheets, ELT). Omit for the default nested JSON. &#39;flat&#39; returns the same metadata plus &#39;columns&#39; and &#39;rows&#39;; &#39;csv&#39; returns those rows as text/csv. Errors are always returned as JSON.
func (r ApiGetShareOfVoiceRequest) Output(output string) ApiGetShareOfVoiceRequest {
	r.output = &output
	return r
}

// Which Share of Voice projection to flatten. Only valid together with &#39;output&#39;. &#39;over_time&#39; (default) is one row per date and actor, &#39;current&#39; the ranked snapshot, &#39;breakdown&#39; the Top 4 plus Others.
func (r ApiGetShareOfVoiceRequest) View(view string) ApiGetShareOfVoiceRequest {
	r.view = &view
	return r
}

func (r ApiGetShareOfVoiceRequest) Execute() (*SovResponse, *http.Response, error) {
	return r.ApiService.GetShareOfVoiceExecute(r)
}

/*
GetShareOfVoice Share of Voice

Share of Voice breakdown comparing your project to competitors. Returns over_time, current snapshot, and a Top-4 + Others breakdown.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetShareOfVoiceRequest
*/
func (a *MetricsAPIService) GetShareOfVoice(ctx context.Context) ApiGetShareOfVoiceRequest {
	return ApiGetShareOfVoiceRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SovResponse
func (a *MetricsAPIService) GetShareOfVoiceExecute(r ApiGetShareOfVoiceRequest) (*SovResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SovResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MetricsAPIService.GetShareOfVoice")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/metrics/sov"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectId == nil {
		return localVarReturnValue, nil, reportError("projectId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project_id", r.projectId, "form", "")
	if r.range_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "range", r.range_, "form", "")
	}
	if r.from != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	}
	if r.to != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	}
	if r.granularity != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "granularity", r.granularity, "form", "")
	}
	if r.competitors != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "competitors", r.competitors, "form", "")
	}
	if r.model != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "model", r.model, "form", "")
	}
	if r.collectionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "collection_id", r.collectionId, "form", "")
	}
	if r.prompt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prompt", r.prompt, "form", "")
	}
	if r.promptType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prompt_type", r.promptType, "form", "")
	}
	if r.brandKind != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "brand_kind", r.brandKind, "form", "")
	}
	if r.output != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "output", r.output, "form", "")
	}
	if r.view != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "view", r.view, "form", "")
	} else {
		var defaultValue string = "over_time"
		parameterAddToHeaderOrQuery(localVarQueryParams, "view", defaultValue, "form", "")
		r.view = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetSummaryRequest struct {
	ctx context.Context
	ApiService *MetricsAPIService
	projectId *int32
	metrics *string
	granularity *string
	range_ *int32
	from *time.Time
	to *time.Time
	competitors *string
	model *string
	collectionId *int32
	prompt *int32
	promptType *string
	brandKind *string
	output *string
}

// Project ID
func (r ApiGetSummaryRequest) ProjectId(projectId int32) ApiGetSummaryRequest {
	r.projectId = &projectId
	return r
}

// Comma-separated list of metrics: mentions, citations, responses, mention_rate, visibility (alias for mention_rate), weighted_visibility, ai_visibility_score (alias for weighted_visibility), citation_rate, avg_position, avg_mention_position, net_sentiment, sentiment_very_positive, sentiment_positive, sentiment_neutral, sentiment_negative, sentiment_very_negative. Citations and citation_rate include visible citations and background source references; avg_position uses visible citations only.
func (r ApiGetSummaryRequest) Metrics(metrics string) ApiGetSummaryRequest {
	r.metrics = &metrics
	return r
}

func (r ApiGetSummaryRequest) Granularity(granularity string) ApiGetSummaryRequest {
	r.granularity = &granularity
	return r
}

// Number of days to look back (alternative to from/to)
func (r ApiGetSummaryRequest) Range_(range_ int32) ApiGetSummaryRequest {
	r.range_ = &range_
	return r
}

func (r ApiGetSummaryRequest) From(from time.Time) ApiGetSummaryRequest {
	r.from = &from
	return r
}

func (r ApiGetSummaryRequest) To(to time.Time) ApiGetSummaryRequest {
	r.to = &to
	return r
}

// Comma-separated competitor IDs (unknown IDs return ERR_INVALID_PARAM)
func (r ApiGetSummaryRequest) Competitors(competitors string) ApiGetSummaryRequest {
	r.competitors = &competitors
	return r
}

// Filter by AI model. Models the API key&#39;s user has not enabled are silently dropped.
func (r ApiGetSummaryRequest) Model(model string) ApiGetSummaryRequest {
	r.model = &model
	return r
}

func (r ApiGetSummaryRequest) CollectionId(collectionId int32) ApiGetSummaryRequest {
	r.collectionId = &collectionId
	return r
}

// Filter by prompt ID
func (r ApiGetSummaryRequest) Prompt(prompt int32) ApiGetSummaryRequest {
	r.prompt = &prompt
	return r
}

// Filter by prompt type (search intent)
func (r ApiGetSummaryRequest) PromptType(promptType string) ApiGetSummaryRequest {
	r.promptType = &promptType
	return r
}

// Filter by brand kind: brand (own brand/products), brand_other (competitors/other brands), non_brand (generic, no brand named). For fair 1:1 brand-vs-competitor comparisons (visibility, share of voice), use non_brand: brand-focused prompts skew results toward the brand they name. The in-app Overview page applies non_brand by default.
func (r ApiGetSummaryRequest) BrandKind(brandKind string) ApiGetSummaryRequest {
	r.brandKind = &brandKind
	return r
}

// Rectangular output for BI tools (Tableau, Excel, Sheets, ELT). Omit for the default nested JSON. &#39;flat&#39; returns the same metadata plus &#39;columns&#39; and &#39;rows&#39;; &#39;csv&#39; returns those rows as text/csv. Errors are always returned as JSON.
func (r ApiGetSummaryRequest) Output(output string) ApiGetSummaryRequest {
	r.output = &output
	return r
}

func (r ApiGetSummaryRequest) Execute() (*SummaryResponse, *http.Response, error) {
	return r.ApiService.GetSummaryExecute(r)
}

/*
GetSummary Aggregated metrics summary

Same as /metrics/timeseries but adds a `summary` block with total/min/max/last per metric per actor, plus a `position_distribution` block (Position 1, Position 2, Position 3+). Citations and citation rate include visible citations and background source references. Background references use position 0 and are excluded from avg_position and position distributions. `total` is a SUM for count metrics (mentions, citations, responses) and an AVERAGE across periods for rate/percentage and average metrics (visibility/mention_rate, citation_rate, ai_visibility_score, sentiment shares, avg_position, avg_mention_position, net_sentiment); rates are never summed. Each summary row carries an `aggregation` field (`sum` or `average`).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetSummaryRequest
*/
func (a *MetricsAPIService) GetSummary(ctx context.Context) ApiGetSummaryRequest {
	return ApiGetSummaryRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SummaryResponse
func (a *MetricsAPIService) GetSummaryExecute(r ApiGetSummaryRequest) (*SummaryResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SummaryResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MetricsAPIService.GetSummary")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/metrics/summary"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectId == nil {
		return localVarReturnValue, nil, reportError("projectId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project_id", r.projectId, "form", "")
	if r.metrics != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "metrics", r.metrics, "form", "")
	}
	if r.granularity != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "granularity", r.granularity, "form", "")
	}
	if r.range_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "range", r.range_, "form", "")
	}
	if r.from != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	}
	if r.to != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	}
	if r.competitors != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "competitors", r.competitors, "form", "")
	}
	if r.model != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "model", r.model, "form", "")
	}
	if r.collectionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "collection_id", r.collectionId, "form", "")
	}
	if r.prompt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prompt", r.prompt, "form", "")
	}
	if r.promptType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prompt_type", r.promptType, "form", "")
	}
	if r.brandKind != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "brand_kind", r.brandKind, "form", "")
	}
	if r.output != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "output", r.output, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetTimeseriesRequest struct {
	ctx context.Context
	ApiService *MetricsAPIService
	projectId *int32
	metrics *string
	granularity *string
	range_ *int32
	from *time.Time
	to *time.Time
	competitors *string
	model *string
	collectionId *int32
	countryCode *string
	languageCode *string
	prompt *int32
	promptType *string
	brandKind *string
	includeProject *bool
	output *string
}

// Project ID
func (r ApiGetTimeseriesRequest) ProjectId(projectId int32) ApiGetTimeseriesRequest {
	r.projectId = &projectId
	return r
}

// Comma-separated list of metrics: mentions, citations, responses, mention_rate, visibility (alias for mention_rate), weighted_visibility, ai_visibility_score (alias for weighted_visibility), citation_rate, avg_position, avg_mention_position, net_sentiment, sentiment_very_positive, sentiment_positive, sentiment_neutral, sentiment_negative, sentiment_very_negative. Citations and citation_rate include visible citations and background source references; avg_position uses visible citations only.
func (r ApiGetTimeseriesRequest) Metrics(metrics string) ApiGetTimeseriesRequest {
	r.metrics = &metrics
	return r
}

func (r ApiGetTimeseriesRequest) Granularity(granularity string) ApiGetTimeseriesRequest {
	r.granularity = &granularity
	return r
}

// Number of days to look back (alternative to from/to)
func (r ApiGetTimeseriesRequest) Range_(range_ int32) ApiGetTimeseriesRequest {
	r.range_ = &range_
	return r
}

func (r ApiGetTimeseriesRequest) From(from time.Time) ApiGetTimeseriesRequest {
	r.from = &from
	return r
}

func (r ApiGetTimeseriesRequest) To(to time.Time) ApiGetTimeseriesRequest {
	r.to = &to
	return r
}

// Comma-separated competitor IDs (unknown IDs return ERR_INVALID_PARAM)
func (r ApiGetTimeseriesRequest) Competitors(competitors string) ApiGetTimeseriesRequest {
	r.competitors = &competitors
	return r
}

// Filter by AI model. Models the API key&#39;s user has not enabled are silently dropped.
func (r ApiGetTimeseriesRequest) Model(model string) ApiGetTimeseriesRequest {
	r.model = &model
	return r
}

func (r ApiGetTimeseriesRequest) CollectionId(collectionId int32) ApiGetTimeseriesRequest {
	r.collectionId = &collectionId
	return r
}

// ISO country code (e.g. US, GB, DE)
func (r ApiGetTimeseriesRequest) CountryCode(countryCode string) ApiGetTimeseriesRequest {
	r.countryCode = &countryCode
	return r
}

// ISO language code (e.g. en, es, de)
func (r ApiGetTimeseriesRequest) LanguageCode(languageCode string) ApiGetTimeseriesRequest {
	r.languageCode = &languageCode
	return r
}

// Filter by prompt ID
func (r ApiGetTimeseriesRequest) Prompt(prompt int32) ApiGetTimeseriesRequest {
	r.prompt = &prompt
	return r
}

// Filter by prompt type (search intent)
func (r ApiGetTimeseriesRequest) PromptType(promptType string) ApiGetTimeseriesRequest {
	r.promptType = &promptType
	return r
}

// Filter by brand kind: brand (own brand/products), brand_other (competitors/other brands), non_brand (generic, no brand named). For fair 1:1 brand-vs-competitor comparisons (visibility, share of voice), use non_brand: brand-focused prompts skew results toward the brand they name. The in-app Overview page applies non_brand by default.
func (r ApiGetTimeseriesRequest) BrandKind(brandKind string) ApiGetTimeseriesRequest {
	r.brandKind = &brandKind
	return r
}

func (r ApiGetTimeseriesRequest) IncludeProject(includeProject bool) ApiGetTimeseriesRequest {
	r.includeProject = &includeProject
	return r
}

// Rectangular output for BI tools (Tableau, Excel, Sheets, ELT). Omit for the default nested JSON. &#39;flat&#39; returns the same metadata plus &#39;columns&#39; and &#39;rows&#39;; &#39;csv&#39; returns those rows as text/csv. Errors are always returned as JSON.
func (r ApiGetTimeseriesRequest) Output(output string) ApiGetTimeseriesRequest {
	r.output = &output
	return r
}

func (r ApiGetTimeseriesRequest) Execute() (*TimeseriesResponse, *http.Response, error) {
	return r.ApiService.GetTimeseriesExecute(r)
}

/*
GetTimeseries Time-series metrics

Returns time-series data for one or more metrics, broken down by actor (project + competitors). Supports day/week/month granularity, with sticky carry-forward semantics for week/month aggregates.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetTimeseriesRequest
*/
func (a *MetricsAPIService) GetTimeseries(ctx context.Context) ApiGetTimeseriesRequest {
	return ApiGetTimeseriesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return TimeseriesResponse
func (a *MetricsAPIService) GetTimeseriesExecute(r ApiGetTimeseriesRequest) (*TimeseriesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TimeseriesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MetricsAPIService.GetTimeseries")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/metrics/timeseries"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectId == nil {
		return localVarReturnValue, nil, reportError("projectId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project_id", r.projectId, "form", "")
	if r.metrics != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "metrics", r.metrics, "form", "")
	}
	if r.granularity != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "granularity", r.granularity, "form", "")
	}
	if r.range_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "range", r.range_, "form", "")
	}
	if r.from != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	}
	if r.to != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	}
	if r.competitors != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "competitors", r.competitors, "form", "")
	}
	if r.model != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "model", r.model, "form", "")
	}
	if r.collectionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "collection_id", r.collectionId, "form", "")
	}
	if r.countryCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "country_code", r.countryCode, "form", "")
	}
	if r.languageCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "language_code", r.languageCode, "form", "")
	}
	if r.prompt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prompt", r.prompt, "form", "")
	}
	if r.promptType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prompt_type", r.promptType, "form", "")
	}
	if r.brandKind != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "brand_kind", r.brandKind, "form", "")
	}
	if r.includeProject != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_project", r.includeProject, "form", "")
	} else {
		var defaultValue bool = true
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_project", defaultValue, "form", "")
		r.includeProject = &defaultValue
	}
	if r.output != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "output", r.output, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetTopSourcesRequest struct {
	ctx context.Context
	ApiService *MetricsAPIService
	projectId *int32
	range_ *int32
	from *time.Time
	to *time.Time
	model *string
	collectionId *int32
	countryCode *string
	languageCode *string
	prompt *int32
	promptType *string
	brandKind *string
	sort *string
	query *string
	page *int32
	perPage *int32
	output *string
}

// Project ID
func (r ApiGetTopSourcesRequest) ProjectId(projectId int32) ApiGetTopSourcesRequest {
	r.projectId = &projectId
	return r
}

// Number of days to look back (alternative to from/to)
func (r ApiGetTopSourcesRequest) Range_(range_ int32) ApiGetTopSourcesRequest {
	r.range_ = &range_
	return r
}

func (r ApiGetTopSourcesRequest) From(from time.Time) ApiGetTopSourcesRequest {
	r.from = &from
	return r
}

func (r ApiGetTopSourcesRequest) To(to time.Time) ApiGetTopSourcesRequest {
	r.to = &to
	return r
}

// Filter by AI model. Models the API key&#39;s user has not enabled are silently dropped.
func (r ApiGetTopSourcesRequest) Model(model string) ApiGetTopSourcesRequest {
	r.model = &model
	return r
}

func (r ApiGetTopSourcesRequest) CollectionId(collectionId int32) ApiGetTopSourcesRequest {
	r.collectionId = &collectionId
	return r
}

// ISO country code (e.g. US, GB, DE)
func (r ApiGetTopSourcesRequest) CountryCode(countryCode string) ApiGetTopSourcesRequest {
	r.countryCode = &countryCode
	return r
}

// ISO language code (e.g. en, es, de)
func (r ApiGetTopSourcesRequest) LanguageCode(languageCode string) ApiGetTopSourcesRequest {
	r.languageCode = &languageCode
	return r
}

// Filter by prompt ID
func (r ApiGetTopSourcesRequest) Prompt(prompt int32) ApiGetTopSourcesRequest {
	r.prompt = &prompt
	return r
}

// Filter by prompt type (search intent)
func (r ApiGetTopSourcesRequest) PromptType(promptType string) ApiGetTopSourcesRequest {
	r.promptType = &promptType
	return r
}

// Filter by brand kind: brand (own brand/products), brand_other (competitors/other brands), non_brand (generic, no brand named). For fair 1:1 brand-vs-competitor comparisons (visibility, share of voice), use non_brand: brand-focused prompts skew results toward the brand they name. The in-app Overview page applies non_brand by default.
func (r ApiGetTopSourcesRequest) BrandKind(brandKind string) ApiGetTopSourcesRequest {
	r.brandKind = &brandKind
	return r
}

func (r ApiGetTopSourcesRequest) Sort(sort string) ApiGetTopSourcesRequest {
	r.sort = &sort
	return r
}

// Filter domains by case-insensitive partial match
func (r ApiGetTopSourcesRequest) Query(query string) ApiGetTopSourcesRequest {
	r.query = &query
	return r
}

func (r ApiGetTopSourcesRequest) Page(page int32) ApiGetTopSourcesRequest {
	r.page = &page
	return r
}

func (r ApiGetTopSourcesRequest) PerPage(perPage int32) ApiGetTopSourcesRequest {
	r.perPage = &perPage
	return r
}

// Rectangular output for BI tools (Tableau, Excel, Sheets, ELT). Omit for the default nested JSON. &#39;flat&#39; returns the same metadata plus &#39;columns&#39; and &#39;rows&#39;; &#39;csv&#39; returns those rows as text/csv. Errors are always returned as JSON.
func (r ApiGetTopSourcesRequest) Output(output string) ApiGetTopSourcesRequest {
	r.output = &output
	return r
}

func (r ApiGetTopSourcesRequest) Execute() (*TopSourcesResponse, *http.Response, error) {
	return r.ApiService.GetTopSourcesExecute(r)
}

/*
GetTopSources Top cited sources

Registrable domains most frequently cited in AI responses for the project, including visible citations and background source references. This endpoint remains a domain rollup when exact-subdomain matching is enabled. Results can be sorted by total responses, average mention rate, or average visibility.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetTopSourcesRequest
*/
func (a *MetricsAPIService) GetTopSources(ctx context.Context) ApiGetTopSourcesRequest {
	return ApiGetTopSourcesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return TopSourcesResponse
func (a *MetricsAPIService) GetTopSourcesExecute(r ApiGetTopSourcesRequest) (*TopSourcesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TopSourcesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MetricsAPIService.GetTopSources")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/metrics/top_sources"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectId == nil {
		return localVarReturnValue, nil, reportError("projectId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project_id", r.projectId, "form", "")
	if r.range_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "range", r.range_, "form", "")
	}
	if r.from != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	}
	if r.to != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	}
	if r.model != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "model", r.model, "form", "")
	}
	if r.collectionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "collection_id", r.collectionId, "form", "")
	}
	if r.countryCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "country_code", r.countryCode, "form", "")
	}
	if r.languageCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "language_code", r.languageCode, "form", "")
	}
	if r.prompt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prompt", r.prompt, "form", "")
	}
	if r.promptType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prompt_type", r.promptType, "form", "")
	}
	if r.brandKind != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "brand_kind", r.brandKind, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	} else {
		var defaultValue string = "total_responses"
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", defaultValue, "form", "")
		r.sort = &defaultValue
	}
	if r.query != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.perPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", r.perPage, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", defaultValue, "form", "")
		r.perPage = &defaultValue
	}
	if r.output != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "output", r.output, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
