/*
LLM Pulse API

REST API client for LLM Pulse AI visibility analytics.

API version: 1.46.0
Contact: info@llmpulse.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package llmpulse

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"time"
)


// AIModelInsightsAPIService AIModelInsightsAPI service
type AIModelInsightsAPIService service

type ApiGetAiModelInsightsSummaryRequest struct {
	ctx context.Context
	ApiService *AIModelInsightsAPIService
	projectId *int32
	range_ *int32
	from *time.Time
	to *time.Time
	granularity *string
	collectionId *string
	countryCode *string
	languageCode *string
	promptType *string
	brandKind *string
	competitors *string
}

// Project ID
func (r ApiGetAiModelInsightsSummaryRequest) ProjectId(projectId int32) ApiGetAiModelInsightsSummaryRequest {
	r.projectId = &projectId
	return r
}

// Number of days to look back (alternative to from/to)
func (r ApiGetAiModelInsightsSummaryRequest) Range_(range_ int32) ApiGetAiModelInsightsSummaryRequest {
	r.range_ = &range_
	return r
}

func (r ApiGetAiModelInsightsSummaryRequest) From(from time.Time) ApiGetAiModelInsightsSummaryRequest {
	r.from = &from
	return r
}

// End of the window. A date-only value such as 2026-09-01 covers that whole day. Pass a full timestamp to end the window earlier.
func (r ApiGetAiModelInsightsSummaryRequest) To(to time.Time) ApiGetAiModelInsightsSummaryRequest {
	r.to = &to
	return r
}

func (r ApiGetAiModelInsightsSummaryRequest) Granularity(granularity string) ApiGetAiModelInsightsSummaryRequest {
	r.granularity = &granularity
	return r
}

// One collection/tag ID or a comma-separated list of IDs. A query value is always a string on the wire, so it is typed as one: the previous integer-or-string union made generators emit a wrapper type they could not serialize.
func (r ApiGetAiModelInsightsSummaryRequest) CollectionId(collectionId string) ApiGetAiModelInsightsSummaryRequest {
	r.collectionId = &collectionId
	return r
}

// One ISO country code or a comma-separated list (e.g. US,GB,DE)
func (r ApiGetAiModelInsightsSummaryRequest) CountryCode(countryCode string) ApiGetAiModelInsightsSummaryRequest {
	r.countryCode = &countryCode
	return r
}

// One ISO language code or a comma-separated list (e.g. en,es,de)
func (r ApiGetAiModelInsightsSummaryRequest) LanguageCode(languageCode string) ApiGetAiModelInsightsSummaryRequest {
	r.languageCode = &languageCode
	return r
}

// One prompt type or a comma-separated list: informational, navigational, commercial, transactional
func (r ApiGetAiModelInsightsSummaryRequest) PromptType(promptType string) ApiGetAiModelInsightsSummaryRequest {
	r.promptType = &promptType
	return r
}

// Filter by brand kind: brand (own brand/products), brand_other (competitors/other brands), non_brand (generic, no brand named). For fair 1:1 brand-vs-competitor comparisons (visibility, share of voice), use non_brand: brand-focused prompts skew results toward the brand they name. The in-app Overview page applies non_brand by default.
func (r ApiGetAiModelInsightsSummaryRequest) BrandKind(brandKind string) ApiGetAiModelInsightsSummaryRequest {
	r.brandKind = &brandKind
	return r
}

// Comma-separated competitor IDs (unknown IDs return ERR_INVALID_PARAM)
func (r ApiGetAiModelInsightsSummaryRequest) Competitors(competitors string) ApiGetAiModelInsightsSummaryRequest {
	r.competitors = &competitors
	return r
}

func (r ApiGetAiModelInsightsSummaryRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetAiModelInsightsSummaryExecute(r)
}

/*
GetAiModelInsightsSummary AI Model Insights summary

Per-model mentions, citations, brand net sentiment with raw counts, weighted visibility totals/shares, plus actor matrices. All actor entries use the standard shape `{ type, id, competitor_id, name, domain }` with bare (scheme-less) domains.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetAiModelInsightsSummaryRequest
*/
func (a *AIModelInsightsAPIService) GetAiModelInsightsSummary(ctx context.Context) ApiGetAiModelInsightsSummaryRequest {
	return ApiGetAiModelInsightsSummaryRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *AIModelInsightsAPIService) GetAiModelInsightsSummaryExecute(r ApiGetAiModelInsightsSummaryRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AIModelInsightsAPIService.GetAiModelInsightsSummary")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/reports/ai_model_insights/summary"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectId == nil {
		return nil, reportError("projectId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project_id", r.projectId, "form", "")
	if r.range_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "range", r.range_, "form", "")
	}
	if r.from != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	}
	if r.to != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	}
	if r.granularity != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "granularity", r.granularity, "form", "")
	}
	if r.collectionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "collection_id", r.collectionId, "form", "")
	}
	if r.countryCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "country_code", r.countryCode, "form", "")
	}
	if r.languageCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "language_code", r.languageCode, "form", "")
	}
	if r.promptType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prompt_type", r.promptType, "form", "")
	}
	if r.brandKind != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "brand_kind", r.brandKind, "form", "")
	}
	if r.competitors != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "competitors", r.competitors, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetAiModelPositionDistributionRequest struct {
	ctx context.Context
	ApiService *AIModelInsightsAPIService
	projectId *int32
	range_ *int32
	from *time.Time
	to *time.Time
	granularity *string
	collectionId *string
	countryCode *string
	languageCode *string
	promptType *string
	brandKind *string
	model *string
	brand1 *int32
	brand2 *int32
}

// Project ID
func (r ApiGetAiModelPositionDistributionRequest) ProjectId(projectId int32) ApiGetAiModelPositionDistributionRequest {
	r.projectId = &projectId
	return r
}

// Number of days to look back (alternative to from/to)
func (r ApiGetAiModelPositionDistributionRequest) Range_(range_ int32) ApiGetAiModelPositionDistributionRequest {
	r.range_ = &range_
	return r
}

func (r ApiGetAiModelPositionDistributionRequest) From(from time.Time) ApiGetAiModelPositionDistributionRequest {
	r.from = &from
	return r
}

// End of the window. A date-only value such as 2026-09-01 covers that whole day. Pass a full timestamp to end the window earlier.
func (r ApiGetAiModelPositionDistributionRequest) To(to time.Time) ApiGetAiModelPositionDistributionRequest {
	r.to = &to
	return r
}

func (r ApiGetAiModelPositionDistributionRequest) Granularity(granularity string) ApiGetAiModelPositionDistributionRequest {
	r.granularity = &granularity
	return r
}

// One collection/tag ID or a comma-separated list of IDs. A query value is always a string on the wire, so it is typed as one: the previous integer-or-string union made generators emit a wrapper type they could not serialize.
func (r ApiGetAiModelPositionDistributionRequest) CollectionId(collectionId string) ApiGetAiModelPositionDistributionRequest {
	r.collectionId = &collectionId
	return r
}

// One ISO country code or a comma-separated list (e.g. US,GB,DE)
func (r ApiGetAiModelPositionDistributionRequest) CountryCode(countryCode string) ApiGetAiModelPositionDistributionRequest {
	r.countryCode = &countryCode
	return r
}

// One ISO language code or a comma-separated list (e.g. en,es,de)
func (r ApiGetAiModelPositionDistributionRequest) LanguageCode(languageCode string) ApiGetAiModelPositionDistributionRequest {
	r.languageCode = &languageCode
	return r
}

// One prompt type or a comma-separated list: informational, navigational, commercial, transactional
func (r ApiGetAiModelPositionDistributionRequest) PromptType(promptType string) ApiGetAiModelPositionDistributionRequest {
	r.promptType = &promptType
	return r
}

// Filter by brand kind: brand (own brand/products), brand_other (competitors/other brands), non_brand (generic, no brand named). For fair 1:1 brand-vs-competitor comparisons (visibility, share of voice), use non_brand: brand-focused prompts skew results toward the brand they name. The in-app Overview page applies non_brand by default.
func (r ApiGetAiModelPositionDistributionRequest) BrandKind(brandKind string) ApiGetAiModelPositionDistributionRequest {
	r.brandKind = &brandKind
	return r
}

// Filter by AI model. Models the API key&#39;s user has not enabled are silently dropped.
func (r ApiGetAiModelPositionDistributionRequest) Model(model string) ApiGetAiModelPositionDistributionRequest {
	r.model = &model
	return r
}

// Competitor ID for the first comparison brand (omit to compare project brand)
func (r ApiGetAiModelPositionDistributionRequest) Brand1(brand1 int32) ApiGetAiModelPositionDistributionRequest {
	r.brand1 = &brand1
	return r
}

func (r ApiGetAiModelPositionDistributionRequest) Brand2(brand2 int32) ApiGetAiModelPositionDistributionRequest {
	r.brand2 = &brand2
	return r
}

func (r ApiGetAiModelPositionDistributionRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetAiModelPositionDistributionExecute(r)
}

/*
GetAiModelPositionDistribution Position distribution comparison

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetAiModelPositionDistributionRequest
*/
func (a *AIModelInsightsAPIService) GetAiModelPositionDistribution(ctx context.Context) ApiGetAiModelPositionDistributionRequest {
	return ApiGetAiModelPositionDistributionRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *AIModelInsightsAPIService) GetAiModelPositionDistributionExecute(r ApiGetAiModelPositionDistributionRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AIModelInsightsAPIService.GetAiModelPositionDistribution")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/reports/ai_model_insights/position_distribution"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectId == nil {
		return nil, reportError("projectId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project_id", r.projectId, "form", "")
	if r.range_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "range", r.range_, "form", "")
	}
	if r.from != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	}
	if r.to != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	}
	if r.granularity != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "granularity", r.granularity, "form", "")
	}
	if r.collectionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "collection_id", r.collectionId, "form", "")
	}
	if r.countryCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "country_code", r.countryCode, "form", "")
	}
	if r.languageCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "language_code", r.languageCode, "form", "")
	}
	if r.promptType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prompt_type", r.promptType, "form", "")
	}
	if r.brandKind != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "brand_kind", r.brandKind, "form", "")
	}
	if r.model != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "model", r.model, "form", "")
	}
	if r.brand1 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "brand1", r.brand1, "form", "")
	}
	if r.brand2 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "brand2", r.brand2, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetAiOverviewResultsRequest struct {
	ctx context.Context
	ApiService *AIModelInsightsAPIService
	projectId *int32
	range_ *int32
	from *time.Time
	to *time.Time
	granularity *string
	collectionId *string
	countryCode *string
	languageCode *string
	promptType *string
	brandKind *string
	page *int32
	perPage *int32
}

// Project ID
func (r ApiGetAiOverviewResultsRequest) ProjectId(projectId int32) ApiGetAiOverviewResultsRequest {
	r.projectId = &projectId
	return r
}

// Number of days to look back (alternative to from/to)
func (r ApiGetAiOverviewResultsRequest) Range_(range_ int32) ApiGetAiOverviewResultsRequest {
	r.range_ = &range_
	return r
}

func (r ApiGetAiOverviewResultsRequest) From(from time.Time) ApiGetAiOverviewResultsRequest {
	r.from = &from
	return r
}

// End of the window. A date-only value such as 2026-09-01 covers that whole day. Pass a full timestamp to end the window earlier.
func (r ApiGetAiOverviewResultsRequest) To(to time.Time) ApiGetAiOverviewResultsRequest {
	r.to = &to
	return r
}

func (r ApiGetAiOverviewResultsRequest) Granularity(granularity string) ApiGetAiOverviewResultsRequest {
	r.granularity = &granularity
	return r
}

// One collection/tag ID or a comma-separated list of IDs. A query value is always a string on the wire, so it is typed as one: the previous integer-or-string union made generators emit a wrapper type they could not serialize.
func (r ApiGetAiOverviewResultsRequest) CollectionId(collectionId string) ApiGetAiOverviewResultsRequest {
	r.collectionId = &collectionId
	return r
}

// One ISO country code or a comma-separated list (e.g. US,GB,DE)
func (r ApiGetAiOverviewResultsRequest) CountryCode(countryCode string) ApiGetAiOverviewResultsRequest {
	r.countryCode = &countryCode
	return r
}

// One ISO language code or a comma-separated list (e.g. en,es,de)
func (r ApiGetAiOverviewResultsRequest) LanguageCode(languageCode string) ApiGetAiOverviewResultsRequest {
	r.languageCode = &languageCode
	return r
}

// One prompt type or a comma-separated list: informational, navigational, commercial, transactional
func (r ApiGetAiOverviewResultsRequest) PromptType(promptType string) ApiGetAiOverviewResultsRequest {
	r.promptType = &promptType
	return r
}

// Filter by brand kind: brand (own brand/products), brand_other (competitors/other brands), non_brand (generic, no brand named). For fair 1:1 brand-vs-competitor comparisons (visibility, share of voice), use non_brand: brand-focused prompts skew results toward the brand they name. The in-app Overview page applies non_brand by default.
func (r ApiGetAiOverviewResultsRequest) BrandKind(brandKind string) ApiGetAiOverviewResultsRequest {
	r.brandKind = &brandKind
	return r
}

func (r ApiGetAiOverviewResultsRequest) Page(page int32) ApiGetAiOverviewResultsRequest {
	r.page = &page
	return r
}

func (r ApiGetAiOverviewResultsRequest) PerPage(perPage int32) ApiGetAiOverviewResultsRequest {
	r.perPage = &perPage
	return r
}

func (r ApiGetAiOverviewResultsRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetAiOverviewResultsExecute(r)
}

/*
GetAiOverviewResults Google AI Overview result availability

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetAiOverviewResultsRequest
*/
func (a *AIModelInsightsAPIService) GetAiOverviewResults(ctx context.Context) ApiGetAiOverviewResultsRequest {
	return ApiGetAiOverviewResultsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *AIModelInsightsAPIService) GetAiOverviewResultsExecute(r ApiGetAiOverviewResultsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AIModelInsightsAPIService.GetAiOverviewResults")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/reports/ai_model_insights/ai_overview_results"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectId == nil {
		return nil, reportError("projectId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project_id", r.projectId, "form", "")
	if r.range_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "range", r.range_, "form", "")
	}
	if r.from != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	}
	if r.to != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	}
	if r.granularity != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "granularity", r.granularity, "form", "")
	}
	if r.collectionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "collection_id", r.collectionId, "form", "")
	}
	if r.countryCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "country_code", r.countryCode, "form", "")
	}
	if r.languageCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "language_code", r.languageCode, "form", "")
	}
	if r.promptType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prompt_type", r.promptType, "form", "")
	}
	if r.brandKind != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "brand_kind", r.brandKind, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.perPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", r.perPage, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", defaultValue, "form", "")
		r.perPage = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
