/*
LLM Pulse API

REST API client for LLM Pulse AI visibility analytics.

API version: 1.50.0
Contact: info@llmpulse.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package llmpulse

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"time"
)


// SentimentsAPIService SentimentsAPI service
type SentimentsAPIService service

type ApiListSentimentCategoriesRequest struct {
	ctx context.Context
	ApiService *SentimentsAPIService
	projectId *int32
	output *string
}

// Project ID
func (r ApiListSentimentCategoriesRequest) ProjectId(projectId int32) ApiListSentimentCategoriesRequest {
	r.projectId = &projectId
	return r
}

// Rectangular output for BI tools (Tableau, Excel, Sheets, ELT). Omit for the default nested JSON. &#39;flat&#39; returns the same metadata plus &#39;columns&#39; and &#39;rows&#39;; &#39;csv&#39; returns those rows as text/csv. Errors are always returned as JSON.
func (r ApiListSentimentCategoriesRequest) Output(output string) ApiListSentimentCategoriesRequest {
	r.output = &output
	return r
}

func (r ApiListSentimentCategoriesRequest) Execute() (*http.Response, error) {
	return r.ApiService.ListSentimentCategoriesExecute(r)
}

/*
ListSentimentCategories List sentiment categories

Sentiment metric keys + labels + colors. For records, use /sentiments.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListSentimentCategoriesRequest
*/
func (a *SentimentsAPIService) ListSentimentCategories(ctx context.Context) ApiListSentimentCategoriesRequest {
	return ApiListSentimentCategoriesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *SentimentsAPIService) ListSentimentCategoriesExecute(r ApiListSentimentCategoriesRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentimentsAPIService.ListSentimentCategories")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dimensions/sentiments"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectId == nil {
		return nil, reportError("projectId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project_id", r.projectId, "form", "")
	if r.output != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "output", r.output, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiListSentimentRecordsRequest struct {
	ctx context.Context
	ApiService *SentimentsAPIService
	projectId *int32
	competitorId *int32
	brandOnly *bool
	analysis *string
	model *string
	collectionId *string
	countryCode *string
	languageCode *string
	from *time.Time
	to *time.Time
	page *int32
	perPage *int32
}

// Project ID
func (r ApiListSentimentRecordsRequest) ProjectId(projectId int32) ApiListSentimentRecordsRequest {
	r.projectId = &projectId
	return r
}

func (r ApiListSentimentRecordsRequest) CompetitorId(competitorId int32) ApiListSentimentRecordsRequest {
	r.competitorId = &competitorId
	return r
}

func (r ApiListSentimentRecordsRequest) BrandOnly(brandOnly bool) ApiListSentimentRecordsRequest {
	r.brandOnly = &brandOnly
	return r
}

// One sentiment level or a comma-separated list: very_positive, positive, neutral, negative, very_negative
func (r ApiListSentimentRecordsRequest) Analysis(analysis string) ApiListSentimentRecordsRequest {
	r.analysis = &analysis
	return r
}

// Filter by AI model. Models the API key&#39;s user has not enabled are silently dropped.
func (r ApiListSentimentRecordsRequest) Model(model string) ApiListSentimentRecordsRequest {
	r.model = &model
	return r
}

// One collection/tag ID or a comma-separated list of IDs. A query value is always a string on the wire, so it is typed as one: the previous integer-or-string union made generators emit a wrapper type they could not serialize.
func (r ApiListSentimentRecordsRequest) CollectionId(collectionId string) ApiListSentimentRecordsRequest {
	r.collectionId = &collectionId
	return r
}

// One ISO country code or a comma-separated list (e.g. US,GB,DE)
func (r ApiListSentimentRecordsRequest) CountryCode(countryCode string) ApiListSentimentRecordsRequest {
	r.countryCode = &countryCode
	return r
}

// One ISO language code or a comma-separated list (e.g. en,es,de)
func (r ApiListSentimentRecordsRequest) LanguageCode(languageCode string) ApiListSentimentRecordsRequest {
	r.languageCode = &languageCode
	return r
}

func (r ApiListSentimentRecordsRequest) From(from time.Time) ApiListSentimentRecordsRequest {
	r.from = &from
	return r
}

// End of the window. A date-only value such as 2026-09-01 covers that whole day. Pass a full timestamp to end the window earlier.
func (r ApiListSentimentRecordsRequest) To(to time.Time) ApiListSentimentRecordsRequest {
	r.to = &to
	return r
}

func (r ApiListSentimentRecordsRequest) Page(page int32) ApiListSentimentRecordsRequest {
	r.page = &page
	return r
}

func (r ApiListSentimentRecordsRequest) PerPage(perPage int32) ApiListSentimentRecordsRequest {
	r.perPage = &perPage
	return r
}

func (r ApiListSentimentRecordsRequest) Execute() (*http.Response, error) {
	return r.ApiService.ListSentimentRecordsExecute(r)
}

/*
ListSentimentRecords List sentiment records

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListSentimentRecordsRequest
*/
func (a *SentimentsAPIService) ListSentimentRecords(ctx context.Context) ApiListSentimentRecordsRequest {
	return ApiListSentimentRecordsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *SentimentsAPIService) ListSentimentRecordsExecute(r ApiListSentimentRecordsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentimentsAPIService.ListSentimentRecords")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/sentiments"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectId == nil {
		return nil, reportError("projectId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project_id", r.projectId, "form", "")
	if r.competitorId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "competitor_id", r.competitorId, "form", "")
	}
	if r.brandOnly != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "brand_only", r.brandOnly, "form", "")
	}
	if r.analysis != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "analysis", r.analysis, "form", "")
	}
	if r.model != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "model", r.model, "form", "")
	}
	if r.collectionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "collection_id", r.collectionId, "form", "")
	}
	if r.countryCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "country_code", r.countryCode, "form", "")
	}
	if r.languageCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "language_code", r.languageCode, "form", "")
	}
	if r.from != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	}
	if r.to != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.perPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", r.perPage, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", defaultValue, "form", "")
		r.perPage = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
