/*
LLM Pulse API

REST API client for LLM Pulse AI visibility analytics.

API version: 1.22.0
Contact: info@llmpulse.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package llmpulse

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
)


// DimensionsAPIService DimensionsAPI service
type DimensionsAPIService service

type ApiGetCompetitorDetailsRequest struct {
	ctx context.Context
	ApiService *DimensionsAPIService
	projectId *int32
	id int32
}

// Project ID
func (r ApiGetCompetitorDetailsRequest) ProjectId(projectId int32) ApiGetCompetitorDetailsRequest {
	r.projectId = &projectId
	return r
}

func (r ApiGetCompetitorDetailsRequest) Execute() (*CompetitorDetails, *http.Response, error) {
	return r.ApiService.GetCompetitorDetailsExecute(r)
}

/*
GetCompetitorDetails Competitor details

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiGetCompetitorDetailsRequest
*/
func (a *DimensionsAPIService) GetCompetitorDetails(ctx context.Context, id int32) ApiGetCompetitorDetailsRequest {
	return ApiGetCompetitorDetailsRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CompetitorDetails
func (a *DimensionsAPIService) GetCompetitorDetailsExecute(r ApiGetCompetitorDetailsRequest) (*CompetitorDetails, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CompetitorDetails
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DimensionsAPIService.GetCompetitorDetails")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dimensions/competitors/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectId == nil {
		return localVarReturnValue, nil, reportError("projectId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project_id", r.projectId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetProjectDetailsRequest struct {
	ctx context.Context
	ApiService *DimensionsAPIService
	id int32
}

func (r ApiGetProjectDetailsRequest) Execute() (*ProjectDetails, *http.Response, error) {
	return r.ApiService.GetProjectDetailsExecute(r)
}

/*
GetProjectDetails Project details

Detailed info for one project: matching_names, industry, business model, primary products, target audience, brand voice, locale, app store IDs, stats (incl. prompts_by_brand_kind counts) and data_coverage (models, countries and languages with data).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiGetProjectDetailsRequest
*/
func (a *DimensionsAPIService) GetProjectDetails(ctx context.Context, id int32) ApiGetProjectDetailsRequest {
	return ApiGetProjectDetailsRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return ProjectDetails
func (a *DimensionsAPIService) GetProjectDetailsExecute(r ApiGetProjectDetailsRequest) (*ProjectDetails, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProjectDetails
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DimensionsAPIService.GetProjectDetails")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dimensions/projects/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListAgentBotsRequest struct {
	ctx context.Context
	ApiService *DimensionsAPIService
	projectId *int32
	output *string
}

// Project ID
func (r ApiListAgentBotsRequest) ProjectId(projectId int32) ApiListAgentBotsRequest {
	r.projectId = &projectId
	return r
}

// Rectangular output for BI tools (Tableau, Excel, Sheets, ELT). Omit for the default nested JSON. &#39;flat&#39; returns the same metadata plus &#39;columns&#39; and &#39;rows&#39;; &#39;csv&#39; returns those rows as text/csv. Errors are always returned as JSON.
func (r ApiListAgentBotsRequest) Output(output string) ApiListAgentBotsRequest {
	r.output = &output
	return r
}

func (r ApiListAgentBotsRequest) Execute() (*AgentBotsResponse, *http.Response, error) {
	return r.ApiService.ListAgentBotsExecute(r)
}

/*
ListAgentBots AI bot catalog (Scale+)

Static catalog of AI bots that Agent Analytics can identify. Useful for rendering filter UIs that mirror our internal classification (slug, display name, company, category, Cloudflare verified-bot mapping, description). Requires the Scale plan; lower tiers receive ERR_PLAN_REQUIRED. The equivalent MCP tool list_agent_bots is available on all plans.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListAgentBotsRequest
*/
func (a *DimensionsAPIService) ListAgentBots(ctx context.Context) ApiListAgentBotsRequest {
	return ApiListAgentBotsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AgentBotsResponse
func (a *DimensionsAPIService) ListAgentBotsExecute(r ApiListAgentBotsRequest) (*AgentBotsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AgentBotsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DimensionsAPIService.ListAgentBots")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dimensions/agent_bots"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectId == nil {
		return localVarReturnValue, nil, reportError("projectId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project_id", r.projectId, "form", "")
	if r.output != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "output", r.output, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListAllCitationsRequest struct {
	ctx context.Context
	ApiService *DimensionsAPIService
	projectId *int32
	competitors *string
	page *int32
	perPage *int32
	model *string
	collectionId *int32
	prompt *int32
	from *time.Time
	to *time.Time
	output *string
}

// Project ID
func (r ApiListAllCitationsRequest) ProjectId(projectId int32) ApiListAllCitationsRequest {
	r.projectId = &projectId
	return r
}

// Comma-separated competitor IDs (unknown IDs return ERR_INVALID_PARAM)
func (r ApiListAllCitationsRequest) Competitors(competitors string) ApiListAllCitationsRequest {
	r.competitors = &competitors
	return r
}

func (r ApiListAllCitationsRequest) Page(page int32) ApiListAllCitationsRequest {
	r.page = &page
	return r
}

func (r ApiListAllCitationsRequest) PerPage(perPage int32) ApiListAllCitationsRequest {
	r.perPage = &perPage
	return r
}

// Filter by AI model. Models the API key&#39;s user has not enabled are silently dropped.
func (r ApiListAllCitationsRequest) Model(model string) ApiListAllCitationsRequest {
	r.model = &model
	return r
}

func (r ApiListAllCitationsRequest) CollectionId(collectionId int32) ApiListAllCitationsRequest {
	r.collectionId = &collectionId
	return r
}

// Filter by prompt ID
func (r ApiListAllCitationsRequest) Prompt(prompt int32) ApiListAllCitationsRequest {
	r.prompt = &prompt
	return r
}

func (r ApiListAllCitationsRequest) From(from time.Time) ApiListAllCitationsRequest {
	r.from = &from
	return r
}

func (r ApiListAllCitationsRequest) To(to time.Time) ApiListAllCitationsRequest {
	r.to = &to
	return r
}

// Rectangular output for BI tools (Tableau, Excel, Sheets, ELT). Omit for the default nested JSON. &#39;flat&#39; returns the same metadata plus &#39;columns&#39; and &#39;rows&#39;; &#39;csv&#39; returns those rows as text/csv. Errors are always returned as JSON.
func (r ApiListAllCitationsRequest) Output(output string) ApiListAllCitationsRequest {
	r.output = &output
	return r
}

func (r ApiListAllCitationsRequest) Execute() (*http.Response, error) {
	return r.ApiService.ListAllCitationsExecute(r)
}

/*
ListAllCitations List all citations (brand + competitor)

Unified citations stream with an `actor_type` field on each record. Includes visible citations and background source references; background references use position 0, meaning no visible rank.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListAllCitationsRequest
*/
func (a *DimensionsAPIService) ListAllCitations(ctx context.Context) ApiListAllCitationsRequest {
	return ApiListAllCitationsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *DimensionsAPIService) ListAllCitationsExecute(r ApiListAllCitationsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DimensionsAPIService.ListAllCitations")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dimensions/all_citations"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectId == nil {
		return nil, reportError("projectId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project_id", r.projectId, "form", "")
	if r.competitors != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "competitors", r.competitors, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.perPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", r.perPage, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", defaultValue, "form", "")
		r.perPage = &defaultValue
	}
	if r.model != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "model", r.model, "form", "")
	}
	if r.collectionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "collection_id", r.collectionId, "form", "")
	}
	if r.prompt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prompt", r.prompt, "form", "")
	}
	if r.from != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	}
	if r.to != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	}
	if r.output != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "output", r.output, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiListAllMentionsRequest struct {
	ctx context.Context
	ApiService *DimensionsAPIService
	projectId *int32
	competitors *string
	page *int32
	perPage *int32
	model *string
	collectionId *int32
	prompt *int32
	from *time.Time
	to *time.Time
	output *string
}

// Project ID
func (r ApiListAllMentionsRequest) ProjectId(projectId int32) ApiListAllMentionsRequest {
	r.projectId = &projectId
	return r
}

// Comma-separated competitor IDs (unknown IDs return ERR_INVALID_PARAM)
func (r ApiListAllMentionsRequest) Competitors(competitors string) ApiListAllMentionsRequest {
	r.competitors = &competitors
	return r
}

func (r ApiListAllMentionsRequest) Page(page int32) ApiListAllMentionsRequest {
	r.page = &page
	return r
}

func (r ApiListAllMentionsRequest) PerPage(perPage int32) ApiListAllMentionsRequest {
	r.perPage = &perPage
	return r
}

// Filter by AI model. Models the API key&#39;s user has not enabled are silently dropped.
func (r ApiListAllMentionsRequest) Model(model string) ApiListAllMentionsRequest {
	r.model = &model
	return r
}

func (r ApiListAllMentionsRequest) CollectionId(collectionId int32) ApiListAllMentionsRequest {
	r.collectionId = &collectionId
	return r
}

// Filter by prompt ID
func (r ApiListAllMentionsRequest) Prompt(prompt int32) ApiListAllMentionsRequest {
	r.prompt = &prompt
	return r
}

func (r ApiListAllMentionsRequest) From(from time.Time) ApiListAllMentionsRequest {
	r.from = &from
	return r
}

func (r ApiListAllMentionsRequest) To(to time.Time) ApiListAllMentionsRequest {
	r.to = &to
	return r
}

// Rectangular output for BI tools (Tableau, Excel, Sheets, ELT). Omit for the default nested JSON. &#39;flat&#39; returns the same metadata plus &#39;columns&#39; and &#39;rows&#39;; &#39;csv&#39; returns those rows as text/csv. Errors are always returned as JSON.
func (r ApiListAllMentionsRequest) Output(output string) ApiListAllMentionsRequest {
	r.output = &output
	return r
}

func (r ApiListAllMentionsRequest) Execute() (*http.Response, error) {
	return r.ApiService.ListAllMentionsExecute(r)
}

/*
ListAllMentions List all mentions (brand + competitor)

Unified mentions stream. Each record has an `actor_type` field (`project` or `competitor`) so the same payload covers both.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListAllMentionsRequest
*/
func (a *DimensionsAPIService) ListAllMentions(ctx context.Context) ApiListAllMentionsRequest {
	return ApiListAllMentionsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *DimensionsAPIService) ListAllMentionsExecute(r ApiListAllMentionsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DimensionsAPIService.ListAllMentions")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dimensions/all_mentions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectId == nil {
		return nil, reportError("projectId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project_id", r.projectId, "form", "")
	if r.competitors != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "competitors", r.competitors, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.perPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", r.perPage, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", defaultValue, "form", "")
		r.perPage = &defaultValue
	}
	if r.model != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "model", r.model, "form", "")
	}
	if r.collectionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "collection_id", r.collectionId, "form", "")
	}
	if r.prompt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prompt", r.prompt, "form", "")
	}
	if r.from != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	}
	if r.to != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	}
	if r.output != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "output", r.output, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiListCitationsRequest struct {
	ctx context.Context
	ApiService *DimensionsAPIService
	projectId *int32
	page *int32
	perPage *int32
	model *string
	collectionId *int32
	countryCode *string
	languageCode *string
	prompt *int32
	from *time.Time
	to *time.Time
	output *string
}

// Project ID
func (r ApiListCitationsRequest) ProjectId(projectId int32) ApiListCitationsRequest {
	r.projectId = &projectId
	return r
}

func (r ApiListCitationsRequest) Page(page int32) ApiListCitationsRequest {
	r.page = &page
	return r
}

func (r ApiListCitationsRequest) PerPage(perPage int32) ApiListCitationsRequest {
	r.perPage = &perPage
	return r
}

// Filter by AI model. Models the API key&#39;s user has not enabled are silently dropped.
func (r ApiListCitationsRequest) Model(model string) ApiListCitationsRequest {
	r.model = &model
	return r
}

func (r ApiListCitationsRequest) CollectionId(collectionId int32) ApiListCitationsRequest {
	r.collectionId = &collectionId
	return r
}

// ISO country code (e.g. US, GB, DE)
func (r ApiListCitationsRequest) CountryCode(countryCode string) ApiListCitationsRequest {
	r.countryCode = &countryCode
	return r
}

// ISO language code (e.g. en, es, de)
func (r ApiListCitationsRequest) LanguageCode(languageCode string) ApiListCitationsRequest {
	r.languageCode = &languageCode
	return r
}

// Filter by prompt ID
func (r ApiListCitationsRequest) Prompt(prompt int32) ApiListCitationsRequest {
	r.prompt = &prompt
	return r
}

func (r ApiListCitationsRequest) From(from time.Time) ApiListCitationsRequest {
	r.from = &from
	return r
}

func (r ApiListCitationsRequest) To(to time.Time) ApiListCitationsRequest {
	r.to = &to
	return r
}

// Rectangular output for BI tools (Tableau, Excel, Sheets, ELT). Omit for the default nested JSON. &#39;flat&#39; returns the same metadata plus &#39;columns&#39; and &#39;rows&#39;; &#39;csv&#39; returns those rows as text/csv. Errors are always returned as JSON.
func (r ApiListCitationsRequest) Output(output string) ApiListCitationsRequest {
	r.output = &output
	return r
}

func (r ApiListCitationsRequest) Execute() (*http.Response, error) {
	return r.ApiService.ListCitationsExecute(r)
}

/*
ListCitations List brand citations

Includes visible citations and background source references. Background references use position 0, meaning no visible rank.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListCitationsRequest
*/
func (a *DimensionsAPIService) ListCitations(ctx context.Context) ApiListCitationsRequest {
	return ApiListCitationsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *DimensionsAPIService) ListCitationsExecute(r ApiListCitationsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DimensionsAPIService.ListCitations")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dimensions/citations"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectId == nil {
		return nil, reportError("projectId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project_id", r.projectId, "form", "")
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.perPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", r.perPage, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", defaultValue, "form", "")
		r.perPage = &defaultValue
	}
	if r.model != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "model", r.model, "form", "")
	}
	if r.collectionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "collection_id", r.collectionId, "form", "")
	}
	if r.countryCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "country_code", r.countryCode, "form", "")
	}
	if r.languageCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "language_code", r.languageCode, "form", "")
	}
	if r.prompt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prompt", r.prompt, "form", "")
	}
	if r.from != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	}
	if r.to != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	}
	if r.output != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "output", r.output, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiListCollectionsRequest struct {
	ctx context.Context
	ApiService *DimensionsAPIService
	projectId *int32
	output *string
}

// Project ID
func (r ApiListCollectionsRequest) ProjectId(projectId int32) ApiListCollectionsRequest {
	r.projectId = &projectId
	return r
}

// Rectangular output for BI tools (Tableau, Excel, Sheets, ELT). Omit for the default nested JSON. &#39;flat&#39; returns the same metadata plus &#39;columns&#39; and &#39;rows&#39;; &#39;csv&#39; returns those rows as text/csv. Errors are always returned as JSON.
func (r ApiListCollectionsRequest) Output(output string) ApiListCollectionsRequest {
	r.output = &output
	return r
}

func (r ApiListCollectionsRequest) Execute() (*http.Response, error) {
	return r.ApiService.ListCollectionsExecute(r)
}

/*
ListCollections List tags/collections

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListCollectionsRequest
*/
func (a *DimensionsAPIService) ListCollections(ctx context.Context) ApiListCollectionsRequest {
	return ApiListCollectionsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *DimensionsAPIService) ListCollectionsExecute(r ApiListCollectionsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DimensionsAPIService.ListCollections")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dimensions/collections"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectId == nil {
		return nil, reportError("projectId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project_id", r.projectId, "form", "")
	if r.output != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "output", r.output, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiListCompetitorCitationsRequest struct {
	ctx context.Context
	ApiService *DimensionsAPIService
	projectId *int32
	competitors *string
	page *int32
	perPage *int32
	model *string
	collectionId *int32
	prompt *int32
	from *time.Time
	to *time.Time
	output *string
}

// Project ID
func (r ApiListCompetitorCitationsRequest) ProjectId(projectId int32) ApiListCompetitorCitationsRequest {
	r.projectId = &projectId
	return r
}

// Comma-separated competitor IDs (unknown IDs return ERR_INVALID_PARAM)
func (r ApiListCompetitorCitationsRequest) Competitors(competitors string) ApiListCompetitorCitationsRequest {
	r.competitors = &competitors
	return r
}

func (r ApiListCompetitorCitationsRequest) Page(page int32) ApiListCompetitorCitationsRequest {
	r.page = &page
	return r
}

func (r ApiListCompetitorCitationsRequest) PerPage(perPage int32) ApiListCompetitorCitationsRequest {
	r.perPage = &perPage
	return r
}

// Filter by AI model. Models the API key&#39;s user has not enabled are silently dropped.
func (r ApiListCompetitorCitationsRequest) Model(model string) ApiListCompetitorCitationsRequest {
	r.model = &model
	return r
}

func (r ApiListCompetitorCitationsRequest) CollectionId(collectionId int32) ApiListCompetitorCitationsRequest {
	r.collectionId = &collectionId
	return r
}

// Filter by prompt ID
func (r ApiListCompetitorCitationsRequest) Prompt(prompt int32) ApiListCompetitorCitationsRequest {
	r.prompt = &prompt
	return r
}

func (r ApiListCompetitorCitationsRequest) From(from time.Time) ApiListCompetitorCitationsRequest {
	r.from = &from
	return r
}

func (r ApiListCompetitorCitationsRequest) To(to time.Time) ApiListCompetitorCitationsRequest {
	r.to = &to
	return r
}

// Rectangular output for BI tools (Tableau, Excel, Sheets, ELT). Omit for the default nested JSON. &#39;flat&#39; returns the same metadata plus &#39;columns&#39; and &#39;rows&#39;; &#39;csv&#39; returns those rows as text/csv. Errors are always returned as JSON.
func (r ApiListCompetitorCitationsRequest) Output(output string) ApiListCompetitorCitationsRequest {
	r.output = &output
	return r
}

func (r ApiListCompetitorCitationsRequest) Execute() (*http.Response, error) {
	return r.ApiService.ListCompetitorCitationsExecute(r)
}

/*
ListCompetitorCitations List competitor citations

Includes visible citations and background source references. Background references use position 0, meaning no visible rank.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListCompetitorCitationsRequest
*/
func (a *DimensionsAPIService) ListCompetitorCitations(ctx context.Context) ApiListCompetitorCitationsRequest {
	return ApiListCompetitorCitationsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *DimensionsAPIService) ListCompetitorCitationsExecute(r ApiListCompetitorCitationsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DimensionsAPIService.ListCompetitorCitations")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dimensions/competitor_citations"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectId == nil {
		return nil, reportError("projectId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project_id", r.projectId, "form", "")
	if r.competitors != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "competitors", r.competitors, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.perPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", r.perPage, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", defaultValue, "form", "")
		r.perPage = &defaultValue
	}
	if r.model != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "model", r.model, "form", "")
	}
	if r.collectionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "collection_id", r.collectionId, "form", "")
	}
	if r.prompt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prompt", r.prompt, "form", "")
	}
	if r.from != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	}
	if r.to != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	}
	if r.output != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "output", r.output, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiListCompetitorMentionsRequest struct {
	ctx context.Context
	ApiService *DimensionsAPIService
	projectId *int32
	competitors *string
	page *int32
	perPage *int32
	model *string
	collectionId *int32
	prompt *int32
	from *time.Time
	to *time.Time
	output *string
}

// Project ID
func (r ApiListCompetitorMentionsRequest) ProjectId(projectId int32) ApiListCompetitorMentionsRequest {
	r.projectId = &projectId
	return r
}

// Comma-separated competitor IDs (unknown IDs return ERR_INVALID_PARAM)
func (r ApiListCompetitorMentionsRequest) Competitors(competitors string) ApiListCompetitorMentionsRequest {
	r.competitors = &competitors
	return r
}

func (r ApiListCompetitorMentionsRequest) Page(page int32) ApiListCompetitorMentionsRequest {
	r.page = &page
	return r
}

func (r ApiListCompetitorMentionsRequest) PerPage(perPage int32) ApiListCompetitorMentionsRequest {
	r.perPage = &perPage
	return r
}

// Filter by AI model. Models the API key&#39;s user has not enabled are silently dropped.
func (r ApiListCompetitorMentionsRequest) Model(model string) ApiListCompetitorMentionsRequest {
	r.model = &model
	return r
}

func (r ApiListCompetitorMentionsRequest) CollectionId(collectionId int32) ApiListCompetitorMentionsRequest {
	r.collectionId = &collectionId
	return r
}

// Filter by prompt ID
func (r ApiListCompetitorMentionsRequest) Prompt(prompt int32) ApiListCompetitorMentionsRequest {
	r.prompt = &prompt
	return r
}

func (r ApiListCompetitorMentionsRequest) From(from time.Time) ApiListCompetitorMentionsRequest {
	r.from = &from
	return r
}

func (r ApiListCompetitorMentionsRequest) To(to time.Time) ApiListCompetitorMentionsRequest {
	r.to = &to
	return r
}

// Rectangular output for BI tools (Tableau, Excel, Sheets, ELT). Omit for the default nested JSON. &#39;flat&#39; returns the same metadata plus &#39;columns&#39; and &#39;rows&#39;; &#39;csv&#39; returns those rows as text/csv. Errors are always returned as JSON.
func (r ApiListCompetitorMentionsRequest) Output(output string) ApiListCompetitorMentionsRequest {
	r.output = &output
	return r
}

func (r ApiListCompetitorMentionsRequest) Execute() (*http.Response, error) {
	return r.ApiService.ListCompetitorMentionsExecute(r)
}

/*
ListCompetitorMentions List competitor mentions

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListCompetitorMentionsRequest
*/
func (a *DimensionsAPIService) ListCompetitorMentions(ctx context.Context) ApiListCompetitorMentionsRequest {
	return ApiListCompetitorMentionsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *DimensionsAPIService) ListCompetitorMentionsExecute(r ApiListCompetitorMentionsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DimensionsAPIService.ListCompetitorMentions")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dimensions/competitor_mentions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectId == nil {
		return nil, reportError("projectId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project_id", r.projectId, "form", "")
	if r.competitors != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "competitors", r.competitors, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.perPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", r.perPage, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", defaultValue, "form", "")
		r.perPage = &defaultValue
	}
	if r.model != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "model", r.model, "form", "")
	}
	if r.collectionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "collection_id", r.collectionId, "form", "")
	}
	if r.prompt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prompt", r.prompt, "form", "")
	}
	if r.from != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	}
	if r.to != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	}
	if r.output != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "output", r.output, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiListCompetitorsRequest struct {
	ctx context.Context
	ApiService *DimensionsAPIService
	projectId *int32
	includeProjectBrand *bool
	output *string
}

// Project ID
func (r ApiListCompetitorsRequest) ProjectId(projectId int32) ApiListCompetitorsRequest {
	r.projectId = &projectId
	return r
}

// When true, prepends the project brand with actor_type&#x3D;project and is_own&#x3D;true
func (r ApiListCompetitorsRequest) IncludeProjectBrand(includeProjectBrand bool) ApiListCompetitorsRequest {
	r.includeProjectBrand = &includeProjectBrand
	return r
}

// Rectangular output for BI tools (Tableau, Excel, Sheets, ELT). Omit for the default nested JSON. &#39;flat&#39; returns the same metadata plus &#39;columns&#39; and &#39;rows&#39;; &#39;csv&#39; returns those rows as text/csv. Errors are always returned as JSON.
func (r ApiListCompetitorsRequest) Output(output string) ApiListCompetitorsRequest {
	r.output = &output
	return r
}

func (r ApiListCompetitorsRequest) Execute() (*ListCompetitors200Response, *http.Response, error) {
	return r.ApiService.ListCompetitorsExecute(r)
}

/*
ListCompetitors List competitors

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListCompetitorsRequest
*/
func (a *DimensionsAPIService) ListCompetitors(ctx context.Context) ApiListCompetitorsRequest {
	return ApiListCompetitorsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ListCompetitors200Response
func (a *DimensionsAPIService) ListCompetitorsExecute(r ApiListCompetitorsRequest) (*ListCompetitors200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ListCompetitors200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DimensionsAPIService.ListCompetitors")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dimensions/competitors"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectId == nil {
		return localVarReturnValue, nil, reportError("projectId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project_id", r.projectId, "form", "")
	if r.includeProjectBrand != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_project_brand", r.includeProjectBrand, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_project_brand", defaultValue, "form", "")
		r.includeProjectBrand = &defaultValue
	}
	if r.output != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "output", r.output, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListLocalesRequest struct {
	ctx context.Context
	ApiService *DimensionsAPIService
	projectId *int32
}

// Project ID
func (r ApiListLocalesRequest) ProjectId(projectId int32) ApiListLocalesRequest {
	r.projectId = &projectId
	return r
}

func (r ApiListLocalesRequest) Execute() (*http.Response, error) {
	return r.ApiService.ListLocalesExecute(r)
}

/*
ListLocales List locales with data

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListLocalesRequest
*/
func (a *DimensionsAPIService) ListLocales(ctx context.Context) ApiListLocalesRequest {
	return ApiListLocalesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *DimensionsAPIService) ListLocalesExecute(r ApiListLocalesRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DimensionsAPIService.ListLocales")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dimensions/locales"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectId == nil {
		return nil, reportError("projectId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project_id", r.projectId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiListMentionsRequest struct {
	ctx context.Context
	ApiService *DimensionsAPIService
	projectId *int32
	page *int32
	perPage *int32
	model *string
	collectionId *int32
	countryCode *string
	languageCode *string
	prompt *int32
	from *time.Time
	to *time.Time
	output *string
}

// Project ID
func (r ApiListMentionsRequest) ProjectId(projectId int32) ApiListMentionsRequest {
	r.projectId = &projectId
	return r
}

func (r ApiListMentionsRequest) Page(page int32) ApiListMentionsRequest {
	r.page = &page
	return r
}

func (r ApiListMentionsRequest) PerPage(perPage int32) ApiListMentionsRequest {
	r.perPage = &perPage
	return r
}

// Filter by AI model. Models the API key&#39;s user has not enabled are silently dropped.
func (r ApiListMentionsRequest) Model(model string) ApiListMentionsRequest {
	r.model = &model
	return r
}

func (r ApiListMentionsRequest) CollectionId(collectionId int32) ApiListMentionsRequest {
	r.collectionId = &collectionId
	return r
}

// ISO country code (e.g. US, GB, DE)
func (r ApiListMentionsRequest) CountryCode(countryCode string) ApiListMentionsRequest {
	r.countryCode = &countryCode
	return r
}

// ISO language code (e.g. en, es, de)
func (r ApiListMentionsRequest) LanguageCode(languageCode string) ApiListMentionsRequest {
	r.languageCode = &languageCode
	return r
}

// Filter by prompt ID
func (r ApiListMentionsRequest) Prompt(prompt int32) ApiListMentionsRequest {
	r.prompt = &prompt
	return r
}

func (r ApiListMentionsRequest) From(from time.Time) ApiListMentionsRequest {
	r.from = &from
	return r
}

func (r ApiListMentionsRequest) To(to time.Time) ApiListMentionsRequest {
	r.to = &to
	return r
}

// Rectangular output for BI tools (Tableau, Excel, Sheets, ELT). Omit for the default nested JSON. &#39;flat&#39; returns the same metadata plus &#39;columns&#39; and &#39;rows&#39;; &#39;csv&#39; returns those rows as text/csv. Errors are always returned as JSON.
func (r ApiListMentionsRequest) Output(output string) ApiListMentionsRequest {
	r.output = &output
	return r
}

func (r ApiListMentionsRequest) Execute() (*http.Response, error) {
	return r.ApiService.ListMentionsExecute(r)
}

/*
ListMentions List brand mentions

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListMentionsRequest
*/
func (a *DimensionsAPIService) ListMentions(ctx context.Context) ApiListMentionsRequest {
	return ApiListMentionsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *DimensionsAPIService) ListMentionsExecute(r ApiListMentionsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DimensionsAPIService.ListMentions")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dimensions/mentions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectId == nil {
		return nil, reportError("projectId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project_id", r.projectId, "form", "")
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.perPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", r.perPage, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", defaultValue, "form", "")
		r.perPage = &defaultValue
	}
	if r.model != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "model", r.model, "form", "")
	}
	if r.collectionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "collection_id", r.collectionId, "form", "")
	}
	if r.countryCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "country_code", r.countryCode, "form", "")
	}
	if r.languageCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "language_code", r.languageCode, "form", "")
	}
	if r.prompt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prompt", r.prompt, "form", "")
	}
	if r.from != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	}
	if r.to != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	}
	if r.output != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "output", r.output, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiListModelsRequest struct {
	ctx context.Context
	ApiService *DimensionsAPIService
	projectId *int32
}

// Project ID
func (r ApiListModelsRequest) ProjectId(projectId int32) ApiListModelsRequest {
	r.projectId = &projectId
	return r
}

func (r ApiListModelsRequest) Execute() (*http.Response, error) {
	return r.ApiService.ListModelsExecute(r)
}

/*
ListModels List models with data

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListModelsRequest
*/
func (a *DimensionsAPIService) ListModels(ctx context.Context) ApiListModelsRequest {
	return ApiListModelsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *DimensionsAPIService) ListModelsExecute(r ApiListModelsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DimensionsAPIService.ListModels")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dimensions/models"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectId == nil {
		return nil, reportError("projectId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project_id", r.projectId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiListProjectsRequest struct {
	ctx context.Context
	ApiService *DimensionsAPIService
	output *string
}

// Rectangular output for BI tools (Tableau, Excel, Sheets, ELT). Omit for the default nested JSON. &#39;flat&#39; returns the same metadata plus &#39;columns&#39; and &#39;rows&#39;; &#39;csv&#39; returns those rows as text/csv. Errors are always returned as JSON.
func (r ApiListProjectsRequest) Output(output string) ApiListProjectsRequest {
	r.output = &output
	return r
}

func (r ApiListProjectsRequest) Execute() (*ListProjects200Response, *http.Response, error) {
	return r.ApiService.ListProjectsExecute(r)
}

/*
ListProjects List projects

All projects accessible with your API key.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListProjectsRequest
*/
func (a *DimensionsAPIService) ListProjects(ctx context.Context) ApiListProjectsRequest {
	return ApiListProjectsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ListProjects200Response
func (a *DimensionsAPIService) ListProjectsExecute(r ApiListProjectsRequest) (*ListProjects200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ListProjects200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DimensionsAPIService.ListProjects")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dimensions/projects"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.output != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "output", r.output, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListPromptExecutionsRequest struct {
	ctx context.Context
	ApiService *DimensionsAPIService
	projectId *int32
	page *int32
	perPage *int32
	model *string
	collectionId *int32
	countryCode *string
	languageCode *string
	prompt *int32
	from *time.Time
	to *time.Time
	mentionFilter *string
	citationFilter *string
	competitors *string
	output *string
}

// Project ID
func (r ApiListPromptExecutionsRequest) ProjectId(projectId int32) ApiListPromptExecutionsRequest {
	r.projectId = &projectId
	return r
}

func (r ApiListPromptExecutionsRequest) Page(page int32) ApiListPromptExecutionsRequest {
	r.page = &page
	return r
}

func (r ApiListPromptExecutionsRequest) PerPage(perPage int32) ApiListPromptExecutionsRequest {
	r.perPage = &perPage
	return r
}

// Filter by AI model. Models the API key&#39;s user has not enabled are silently dropped.
func (r ApiListPromptExecutionsRequest) Model(model string) ApiListPromptExecutionsRequest {
	r.model = &model
	return r
}

func (r ApiListPromptExecutionsRequest) CollectionId(collectionId int32) ApiListPromptExecutionsRequest {
	r.collectionId = &collectionId
	return r
}

// ISO country code (e.g. US, GB, DE)
func (r ApiListPromptExecutionsRequest) CountryCode(countryCode string) ApiListPromptExecutionsRequest {
	r.countryCode = &countryCode
	return r
}

// ISO language code (e.g. en, es, de)
func (r ApiListPromptExecutionsRequest) LanguageCode(languageCode string) ApiListPromptExecutionsRequest {
	r.languageCode = &languageCode
	return r
}

// Filter by prompt ID
func (r ApiListPromptExecutionsRequest) Prompt(prompt int32) ApiListPromptExecutionsRequest {
	r.prompt = &prompt
	return r
}

func (r ApiListPromptExecutionsRequest) From(from time.Time) ApiListPromptExecutionsRequest {
	r.from = &from
	return r
}

func (r ApiListPromptExecutionsRequest) To(to time.Time) ApiListPromptExecutionsRequest {
	r.to = &to
	return r
}

// Filter by which brands are mentioned, as a two-axis matrix (your brand x competitors): mentions_you / not_mentions_you, mentions_competitor / not_mentions_competitor, and the four combined cells you_and_competitor, competitor_not_you (a rival wins and you are absent), you_not_competitor, no_brands (no tracked brand appears, i.e. open space). Combine with &#39;competitors&#39; to narrow the competitor side to specific rivals; on a negative cell that reads &#39;none of these&#39;. On /dimensions/sources it applies to the crawled content of each cited page instead of the answer text. The legacy value &#39;competitors_only&#39; is still accepted as an alias of competitor_not_you.
func (r ApiListPromptExecutionsRequest) MentionFilter(mentionFilter string) ApiListPromptExecutionsRequest {
	r.mentionFilter = &mentionFilter
	return r
}

// Same two-axis matrix applied to the domains cited in the answer instead of the brands named in it. Independent of mention_filter; pass both to intersect them (e.g. mentions_you + not_cites_you finds answers that talk about you without linking to you).
func (r ApiListPromptExecutionsRequest) CitationFilter(citationFilter string) ApiListPromptExecutionsRequest {
	r.citationFilter = &citationFilter
	return r
}

// Comma-separated competitor IDs (unknown IDs return ERR_INVALID_PARAM)
func (r ApiListPromptExecutionsRequest) Competitors(competitors string) ApiListPromptExecutionsRequest {
	r.competitors = &competitors
	return r
}

// Rectangular output for BI tools (Tableau, Excel, Sheets, ELT). Omit for the default nested JSON. &#39;flat&#39; returns the same metadata plus &#39;columns&#39; and &#39;rows&#39;; &#39;csv&#39; returns those rows as text/csv. Errors are always returned as JSON.
func (r ApiListPromptExecutionsRequest) Output(output string) ApiListPromptExecutionsRequest {
	r.output = &output
	return r
}

func (r ApiListPromptExecutionsRequest) Execute() (*http.Response, error) {
	return r.ApiService.ListPromptExecutionsExecute(r)
}

/*
ListPromptExecutions List prompt executions

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListPromptExecutionsRequest
*/
func (a *DimensionsAPIService) ListPromptExecutions(ctx context.Context) ApiListPromptExecutionsRequest {
	return ApiListPromptExecutionsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *DimensionsAPIService) ListPromptExecutionsExecute(r ApiListPromptExecutionsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DimensionsAPIService.ListPromptExecutions")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dimensions/prompt_executions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectId == nil {
		return nil, reportError("projectId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project_id", r.projectId, "form", "")
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.perPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", r.perPage, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", defaultValue, "form", "")
		r.perPage = &defaultValue
	}
	if r.model != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "model", r.model, "form", "")
	}
	if r.collectionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "collection_id", r.collectionId, "form", "")
	}
	if r.countryCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "country_code", r.countryCode, "form", "")
	}
	if r.languageCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "language_code", r.languageCode, "form", "")
	}
	if r.prompt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prompt", r.prompt, "form", "")
	}
	if r.from != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	}
	if r.to != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	}
	if r.mentionFilter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mention_filter", r.mentionFilter, "form", "")
	}
	if r.citationFilter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "citation_filter", r.citationFilter, "form", "")
	}
	if r.competitors != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "competitors", r.competitors, "form", "")
	}
	if r.output != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "output", r.output, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiListPromptsRequest struct {
	ctx context.Context
	ApiService *DimensionsAPIService
	projectId *int32
	page *int32
	perPage *int32
	model *string
	collectionId *int32
	countryCode *string
	languageCode *string
	promptType *string
	brandKind *string
	from *time.Time
	to *time.Time
	output *string
}

// Project ID
func (r ApiListPromptsRequest) ProjectId(projectId int32) ApiListPromptsRequest {
	r.projectId = &projectId
	return r
}

func (r ApiListPromptsRequest) Page(page int32) ApiListPromptsRequest {
	r.page = &page
	return r
}

func (r ApiListPromptsRequest) PerPage(perPage int32) ApiListPromptsRequest {
	r.perPage = &perPage
	return r
}

// Filter by AI model. Models the API key&#39;s user has not enabled are silently dropped.
func (r ApiListPromptsRequest) Model(model string) ApiListPromptsRequest {
	r.model = &model
	return r
}

func (r ApiListPromptsRequest) CollectionId(collectionId int32) ApiListPromptsRequest {
	r.collectionId = &collectionId
	return r
}

// ISO country code (e.g. US, GB, DE)
func (r ApiListPromptsRequest) CountryCode(countryCode string) ApiListPromptsRequest {
	r.countryCode = &countryCode
	return r
}

// ISO language code (e.g. en, es, de)
func (r ApiListPromptsRequest) LanguageCode(languageCode string) ApiListPromptsRequest {
	r.languageCode = &languageCode
	return r
}

// Filter by prompt type (search intent)
func (r ApiListPromptsRequest) PromptType(promptType string) ApiListPromptsRequest {
	r.promptType = &promptType
	return r
}

// Filter by brand kind: brand (own brand/products), brand_other (competitors/other brands), non_brand (generic, no brand named). For fair 1:1 brand-vs-competitor comparisons (visibility, share of voice), use non_brand: brand-focused prompts skew results toward the brand they name. The in-app Overview page applies non_brand by default.
func (r ApiListPromptsRequest) BrandKind(brandKind string) ApiListPromptsRequest {
	r.brandKind = &brandKind
	return r
}

func (r ApiListPromptsRequest) From(from time.Time) ApiListPromptsRequest {
	r.from = &from
	return r
}

func (r ApiListPromptsRequest) To(to time.Time) ApiListPromptsRequest {
	r.to = &to
	return r
}

// Rectangular output for BI tools (Tableau, Excel, Sheets, ELT). Omit for the default nested JSON. &#39;flat&#39; returns the same metadata plus &#39;columns&#39; and &#39;rows&#39;; &#39;csv&#39; returns those rows as text/csv. Errors are always returned as JSON.
func (r ApiListPromptsRequest) Output(output string) ApiListPromptsRequest {
	r.output = &output
	return r
}

func (r ApiListPromptsRequest) Execute() (*http.Response, error) {
	return r.ApiService.ListPromptsExecute(r)
}

/*
ListPrompts List prompts

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListPromptsRequest
*/
func (a *DimensionsAPIService) ListPrompts(ctx context.Context) ApiListPromptsRequest {
	return ApiListPromptsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *DimensionsAPIService) ListPromptsExecute(r ApiListPromptsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DimensionsAPIService.ListPrompts")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dimensions/prompts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectId == nil {
		return nil, reportError("projectId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project_id", r.projectId, "form", "")
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.perPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", r.perPage, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", defaultValue, "form", "")
		r.perPage = &defaultValue
	}
	if r.model != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "model", r.model, "form", "")
	}
	if r.collectionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "collection_id", r.collectionId, "form", "")
	}
	if r.countryCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "country_code", r.countryCode, "form", "")
	}
	if r.languageCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "language_code", r.languageCode, "form", "")
	}
	if r.promptType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prompt_type", r.promptType, "form", "")
	}
	if r.brandKind != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "brand_kind", r.brandKind, "form", "")
	}
	if r.from != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	}
	if r.to != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	}
	if r.output != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "output", r.output, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiListSentimentCategoriesRequest struct {
	ctx context.Context
	ApiService *DimensionsAPIService
	projectId *int32
	output *string
}

// Project ID
func (r ApiListSentimentCategoriesRequest) ProjectId(projectId int32) ApiListSentimentCategoriesRequest {
	r.projectId = &projectId
	return r
}

// Rectangular output for BI tools (Tableau, Excel, Sheets, ELT). Omit for the default nested JSON. &#39;flat&#39; returns the same metadata plus &#39;columns&#39; and &#39;rows&#39;; &#39;csv&#39; returns those rows as text/csv. Errors are always returned as JSON.
func (r ApiListSentimentCategoriesRequest) Output(output string) ApiListSentimentCategoriesRequest {
	r.output = &output
	return r
}

func (r ApiListSentimentCategoriesRequest) Execute() (*http.Response, error) {
	return r.ApiService.ListSentimentCategoriesExecute(r)
}

/*
ListSentimentCategories List sentiment categories

Sentiment metric keys + labels + colors. For records, use /sentiments.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListSentimentCategoriesRequest
*/
func (a *DimensionsAPIService) ListSentimentCategories(ctx context.Context) ApiListSentimentCategoriesRequest {
	return ApiListSentimentCategoriesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *DimensionsAPIService) ListSentimentCategoriesExecute(r ApiListSentimentCategoriesRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DimensionsAPIService.ListSentimentCategories")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dimensions/sentiments"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectId == nil {
		return nil, reportError("projectId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project_id", r.projectId, "form", "")
	if r.output != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "output", r.output, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiListSourcesRequest struct {
	ctx context.Context
	ApiService *DimensionsAPIService
	projectId *int32
	page *int32
	perPage *int32
	model *string
	collectionId *int32
	countryCode *string
	languageCode *string
	prompt *int32
	from *time.Time
	to *time.Time
	sourceType *string
	mentionFilter *string
	competitors *string
	output *string
}

// Project ID
func (r ApiListSourcesRequest) ProjectId(projectId int32) ApiListSourcesRequest {
	r.projectId = &projectId
	return r
}

func (r ApiListSourcesRequest) Page(page int32) ApiListSourcesRequest {
	r.page = &page
	return r
}

func (r ApiListSourcesRequest) PerPage(perPage int32) ApiListSourcesRequest {
	r.perPage = &perPage
	return r
}

// Filter by AI model. Models the API key&#39;s user has not enabled are silently dropped.
func (r ApiListSourcesRequest) Model(model string) ApiListSourcesRequest {
	r.model = &model
	return r
}

func (r ApiListSourcesRequest) CollectionId(collectionId int32) ApiListSourcesRequest {
	r.collectionId = &collectionId
	return r
}

// ISO country code (e.g. US, GB, DE)
func (r ApiListSourcesRequest) CountryCode(countryCode string) ApiListSourcesRequest {
	r.countryCode = &countryCode
	return r
}

// ISO language code (e.g. en, es, de)
func (r ApiListSourcesRequest) LanguageCode(languageCode string) ApiListSourcesRequest {
	r.languageCode = &languageCode
	return r
}

// Filter by prompt ID
func (r ApiListSourcesRequest) Prompt(prompt int32) ApiListSourcesRequest {
	r.prompt = &prompt
	return r
}

func (r ApiListSourcesRequest) From(from time.Time) ApiListSourcesRequest {
	r.from = &from
	return r
}

func (r ApiListSourcesRequest) To(to time.Time) ApiListSourcesRequest {
	r.to = &to
	return r
}

// Filter by source ownership. Owned and competitor matching honor the project&#39;s exact-subdomain setting.
func (r ApiListSourcesRequest) SourceType(sourceType string) ApiListSourcesRequest {
	r.sourceType = &sourceType
	return r
}

// Filter by which brands are mentioned, as a two-axis matrix (your brand x competitors): mentions_you / not_mentions_you, mentions_competitor / not_mentions_competitor, and the four combined cells you_and_competitor, competitor_not_you (a rival wins and you are absent), you_not_competitor, no_brands (no tracked brand appears, i.e. open space). Combine with &#39;competitors&#39; to narrow the competitor side to specific rivals; on a negative cell that reads &#39;none of these&#39;. On /dimensions/sources it applies to the crawled content of each cited page instead of the answer text. The legacy value &#39;competitors_only&#39; is still accepted as an alias of competitor_not_you.
func (r ApiListSourcesRequest) MentionFilter(mentionFilter string) ApiListSourcesRequest {
	r.mentionFilter = &mentionFilter
	return r
}

// Comma-separated competitor IDs (unknown IDs return ERR_INVALID_PARAM)
func (r ApiListSourcesRequest) Competitors(competitors string) ApiListSourcesRequest {
	r.competitors = &competitors
	return r
}

// Rectangular output for BI tools (Tableau, Excel, Sheets, ELT). Omit for the default nested JSON. &#39;flat&#39; returns the same metadata plus &#39;columns&#39; and &#39;rows&#39;; &#39;csv&#39; returns those rows as text/csv. Errors are always returned as JSON.
func (r ApiListSourcesRequest) Output(output string) ApiListSourcesRequest {
	r.output = &output
	return r
}

func (r ApiListSourcesRequest) Execute() (*http.Response, error) {
	return r.ApiService.ListSourcesExecute(r)
}

/*
ListSources List source URLs

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListSourcesRequest
*/
func (a *DimensionsAPIService) ListSources(ctx context.Context) ApiListSourcesRequest {
	return ApiListSourcesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *DimensionsAPIService) ListSourcesExecute(r ApiListSourcesRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DimensionsAPIService.ListSources")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dimensions/sources"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectId == nil {
		return nil, reportError("projectId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project_id", r.projectId, "form", "")
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.perPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", r.perPage, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", defaultValue, "form", "")
		r.perPage = &defaultValue
	}
	if r.model != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "model", r.model, "form", "")
	}
	if r.collectionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "collection_id", r.collectionId, "form", "")
	}
	if r.countryCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "country_code", r.countryCode, "form", "")
	}
	if r.languageCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "language_code", r.languageCode, "form", "")
	}
	if r.prompt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prompt", r.prompt, "form", "")
	}
	if r.from != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	}
	if r.to != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	}
	if r.sourceType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source_type", r.sourceType, "form", "")
	}
	if r.mentionFilter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mention_filter", r.mentionFilter, "form", "")
	}
	if r.competitors != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "competitors", r.competitors, "form", "")
	}
	if r.output != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "output", r.output, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiListTagsRequest struct {
	ctx context.Context
	ApiService *DimensionsAPIService
	projectId *int32
	output *string
}

// Project ID
func (r ApiListTagsRequest) ProjectId(projectId int32) ApiListTagsRequest {
	r.projectId = &projectId
	return r
}

// Rectangular output for BI tools (Tableau, Excel, Sheets, ELT). Omit for the default nested JSON. &#39;flat&#39; returns the same metadata plus &#39;columns&#39; and &#39;rows&#39;; &#39;csv&#39; returns those rows as text/csv. Errors are always returned as JSON.
func (r ApiListTagsRequest) Output(output string) ApiListTagsRequest {
	r.output = &output
	return r
}

func (r ApiListTagsRequest) Execute() (*http.Response, error) {
	return r.ApiService.ListTagsExecute(r)
}

/*
ListTags List tags (alias for /collections)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListTagsRequest
*/
func (a *DimensionsAPIService) ListTags(ctx context.Context) ApiListTagsRequest {
	return ApiListTagsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *DimensionsAPIService) ListTagsExecute(r ApiListTagsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DimensionsAPIService.ListTags")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dimensions/tags"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectId == nil {
		return nil, reportError("projectId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project_id", r.projectId, "form", "")
	if r.output != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "output", r.output, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
