/*
LLM Pulse API

REST API client for LLM Pulse AI visibility analytics.

API version: 1.47.0
Contact: info@llmpulse.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package llmpulse

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// TechnicalGEOReportsAPIService TechnicalGEOReportsAPI service
type TechnicalGEOReportsAPIService service

type ApiCreateTechnicalGeoReportsRequest struct {
	ctx context.Context
	ApiService *TechnicalGEOReportsAPIService
	createTechnicalGeoReportsRequest *CreateTechnicalGeoReportsRequest
}

func (r ApiCreateTechnicalGeoReportsRequest) CreateTechnicalGeoReportsRequest(createTechnicalGeoReportsRequest CreateTechnicalGeoReportsRequest) ApiCreateTechnicalGeoReportsRequest {
	r.createTechnicalGeoReportsRequest = &createTechnicalGeoReportsRequest
	return r
}

func (r ApiCreateTechnicalGeoReportsRequest) Execute() (*http.Response, error) {
	return r.ApiService.CreateTechnicalGeoReportsExecute(r)
}

/*
CreateTechnicalGeoReports Run technical GEO analysis

Launches the full technical GEO analysis bundle (crawlability, schema, content readiness, discoverability, site structure, robots.txt, agent readiness, llms.txt, AI visibility) for a URL + country. Each report runs in a background job. Requires a `read_write` scope API key.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateTechnicalGeoReportsRequest
*/
func (a *TechnicalGEOReportsAPIService) CreateTechnicalGeoReports(ctx context.Context) ApiCreateTechnicalGeoReportsRequest {
	return ApiCreateTechnicalGeoReportsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *TechnicalGEOReportsAPIService) CreateTechnicalGeoReportsExecute(r ApiCreateTechnicalGeoReportsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TechnicalGEOReportsAPIService.CreateTechnicalGeoReports")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/technical_geo_reports"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createTechnicalGeoReportsRequest == nil {
		return nil, reportError("createTechnicalGeoReportsRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createTechnicalGeoReportsRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetTechnicalGeoReportRequest struct {
	ctx context.Context
	ApiService *TechnicalGEOReportsAPIService
	projectId *int32
	reportType *string
	id int32
}

// Project ID
func (r ApiGetTechnicalGeoReportRequest) ProjectId(projectId int32) ApiGetTechnicalGeoReportRequest {
	r.projectId = &projectId
	return r
}

func (r ApiGetTechnicalGeoReportRequest) ReportType(reportType string) ApiGetTechnicalGeoReportRequest {
	r.reportType = &reportType
	return r
}

func (r ApiGetTechnicalGeoReportRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetTechnicalGeoReportExecute(r)
}

/*
GetTechnicalGeoReport Get a technical GEO report

Returns the current status and the full result_data once the report is completed. While it is running, result_data is null and poll_after_seconds tells clients when to check again. Summaries carry output_language_code (the ISO 639-1 code an llms_txt report was requested in; null for an llms_txt report left on the website's own language in the app, and for every other report type); a completed llms_txt result_data also returns manually_edited_at, original_llms_txt_content and original_llms_full_txt_content (the generated files, set once the customer edited the files in the app) and metadata.output_language_code.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Report id returned by POST /technical_geo_reports or GET /technical_geo_reports
 @return ApiGetTechnicalGeoReportRequest
*/
func (a *TechnicalGEOReportsAPIService) GetTechnicalGeoReport(ctx context.Context, id int32) ApiGetTechnicalGeoReportRequest {
	return ApiGetTechnicalGeoReportRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *TechnicalGEOReportsAPIService) GetTechnicalGeoReportExecute(r ApiGetTechnicalGeoReportRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TechnicalGEOReportsAPIService.GetTechnicalGeoReport")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/technical_geo_reports/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectId == nil {
		return nil, reportError("projectId is required and must be specified")
	}
	if r.reportType == nil {
		return nil, reportError("reportType is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project_id", r.projectId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "report_type", r.reportType, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiListTechnicalGeoReportsRequest struct {
	ctx context.Context
	ApiService *TechnicalGEOReportsAPIService
	projectId *int32
	reportType *string
	status *string
	batchId *int32
	page *int32
	perPage *int32
}

// Project ID
func (r ApiListTechnicalGeoReportsRequest) ProjectId(projectId int32) ApiListTechnicalGeoReportsRequest {
	r.projectId = &projectId
	return r
}

func (r ApiListTechnicalGeoReportsRequest) ReportType(reportType string) ApiListTechnicalGeoReportsRequest {
	r.reportType = &reportType
	return r
}

// Optional status filter; valid values depend on report_type
func (r ApiListTechnicalGeoReportsRequest) Status(status string) ApiListTechnicalGeoReportsRequest {
	r.status = &status
	return r
}

// Optional batch id returned when the report bundle was created
func (r ApiListTechnicalGeoReportsRequest) BatchId(batchId int32) ApiListTechnicalGeoReportsRequest {
	r.batchId = &batchId
	return r
}

func (r ApiListTechnicalGeoReportsRequest) Page(page int32) ApiListTechnicalGeoReportsRequest {
	r.page = &page
	return r
}

func (r ApiListTechnicalGeoReportsRequest) PerPage(perPage int32) ApiListTechnicalGeoReportsRequest {
	r.perPage = &perPage
	return r
}

func (r ApiListTechnicalGeoReportsRequest) Execute() (*http.Response, error) {
	return r.ApiService.ListTechnicalGeoReportsExecute(r)
}

/*
ListTechnicalGeoReports List technical GEO reports

Lists reports of one technical GEO type for a project, newest first. Use agent_readiness for the AI/Agent Readiness report.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListTechnicalGeoReportsRequest
*/
func (a *TechnicalGEOReportsAPIService) ListTechnicalGeoReports(ctx context.Context) ApiListTechnicalGeoReportsRequest {
	return ApiListTechnicalGeoReportsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *TechnicalGEOReportsAPIService) ListTechnicalGeoReportsExecute(r ApiListTechnicalGeoReportsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TechnicalGEOReportsAPIService.ListTechnicalGeoReports")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/technical_geo_reports"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectId == nil {
		return nil, reportError("projectId is required and must be specified")
	}
	if r.reportType == nil {
		return nil, reportError("reportType is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project_id", r.projectId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "report_type", r.reportType, "form", "")
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.batchId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "batch_id", r.batchId, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.perPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", r.perPage, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", defaultValue, "form", "")
		r.perPage = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
