/*
LLM Pulse API

REST API client for LLM Pulse AI visibility analytics.

API version: 1.22.0
Contact: info@llmpulse.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package llmpulse

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
	"reflect"
)


// CitationIntelligenceAPIService CitationIntelligenceAPI service
type CitationIntelligenceAPIService service

type ApiGetCitedUrlContentRequest struct {
	ctx context.Context
	ApiService *CitationIntelligenceAPIService
	projectId *int32
	urlSha256 string
}

// Project ID
func (r ApiGetCitedUrlContentRequest) ProjectId(projectId int32) ApiGetCitedUrlContentRequest {
	r.projectId = &projectId
	return r
}

func (r ApiGetCitedUrlContentRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetCitedUrlContentExecute(r)
}

/*
GetCitedUrlContent Cited URL cached content

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param urlSha256 64-character hex SHA-256 of the cited URL
 @return ApiGetCitedUrlContentRequest
*/
func (a *CitationIntelligenceAPIService) GetCitedUrlContent(ctx context.Context, urlSha256 string) ApiGetCitedUrlContentRequest {
	return ApiGetCitedUrlContentRequest{
		ApiService: a,
		ctx: ctx,
		urlSha256: urlSha256,
	}
}

// Execute executes the request
func (a *CitationIntelligenceAPIService) GetCitedUrlContentExecute(r ApiGetCitedUrlContentRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CitationIntelligenceAPIService.GetCitedUrlContent")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/citation_intelligence/urls/{url_sha256}/content"
	localVarPath = strings.Replace(localVarPath, "{"+"url_sha256"+"}", url.PathEscape(parameterValueToString(r.urlSha256, "urlSha256")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectId == nil {
		return nil, reportError("projectId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project_id", r.projectId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetCitedUrlDetailRequest struct {
	ctx context.Context
	ApiService *CitationIntelligenceAPIService
	projectId *int32
	urlSha256 string
}

// Project ID
func (r ApiGetCitedUrlDetailRequest) ProjectId(projectId int32) ApiGetCitedUrlDetailRequest {
	r.projectId = &projectId
	return r
}

func (r ApiGetCitedUrlDetailRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetCitedUrlDetailExecute(r)
}

/*
GetCitedUrlDetail Cited URL detail

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param urlSha256 64-character hex SHA-256 of the cited URL
 @return ApiGetCitedUrlDetailRequest
*/
func (a *CitationIntelligenceAPIService) GetCitedUrlDetail(ctx context.Context, urlSha256 string) ApiGetCitedUrlDetailRequest {
	return ApiGetCitedUrlDetailRequest{
		ApiService: a,
		ctx: ctx,
		urlSha256: urlSha256,
	}
}

// Execute executes the request
func (a *CitationIntelligenceAPIService) GetCitedUrlDetailExecute(r ApiGetCitedUrlDetailRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CitationIntelligenceAPIService.GetCitedUrlDetail")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/citation_intelligence/urls/{url_sha256}"
	localVarPath = strings.Replace(localVarPath, "{"+"url_sha256"+"}", url.PathEscape(parameterValueToString(r.urlSha256, "urlSha256")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectId == nil {
		return nil, reportError("projectId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project_id", r.projectId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetMentionsByCitingDomainRequest struct {
	ctx context.Context
	ApiService *CitationIntelligenceAPIService
	projectId *int32
	domains *[]string
	model *string
	collectionId *int32
	countryCode *string
	languageCode *string
	prompt *int32
	from *time.Time
	to *time.Time
}

// Project ID
func (r ApiGetMentionsByCitingDomainRequest) ProjectId(projectId int32) ApiGetMentionsByCitingDomainRequest {
	r.projectId = &projectId
	return r
}

// Source domains to analyze, e.g. domains[]&#x3D;gmac.com&amp;domains[]&#x3D;educaweb.com
func (r ApiGetMentionsByCitingDomainRequest) Domains(domains []string) ApiGetMentionsByCitingDomainRequest {
	r.domains = &domains
	return r
}

// Filter by AI model. Models the API key&#39;s user has not enabled are silently dropped.
func (r ApiGetMentionsByCitingDomainRequest) Model(model string) ApiGetMentionsByCitingDomainRequest {
	r.model = &model
	return r
}

func (r ApiGetMentionsByCitingDomainRequest) CollectionId(collectionId int32) ApiGetMentionsByCitingDomainRequest {
	r.collectionId = &collectionId
	return r
}

// ISO country code (e.g. US, GB, DE)
func (r ApiGetMentionsByCitingDomainRequest) CountryCode(countryCode string) ApiGetMentionsByCitingDomainRequest {
	r.countryCode = &countryCode
	return r
}

// ISO language code (e.g. en, es, de)
func (r ApiGetMentionsByCitingDomainRequest) LanguageCode(languageCode string) ApiGetMentionsByCitingDomainRequest {
	r.languageCode = &languageCode
	return r
}

// Filter by prompt ID
func (r ApiGetMentionsByCitingDomainRequest) Prompt(prompt int32) ApiGetMentionsByCitingDomainRequest {
	r.prompt = &prompt
	return r
}

func (r ApiGetMentionsByCitingDomainRequest) From(from time.Time) ApiGetMentionsByCitingDomainRequest {
	r.from = &from
	return r
}

func (r ApiGetMentionsByCitingDomainRequest) To(to time.Time) ApiGetMentionsByCitingDomainRequest {
	r.to = &to
	return r
}

func (r ApiGetMentionsByCitingDomainRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetMentionsByCitingDomainExecute(r)
}

/*
GetMentionsByCitingDomain Mention share by citing domain

For the responses where each given source domain is cited, returns the share of those responses that mention the brand vs each competitor (brand + competitors sum to 100% per domain). Pass multiple domains to get the whole matrix in one call.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetMentionsByCitingDomainRequest
*/
func (a *CitationIntelligenceAPIService) GetMentionsByCitingDomain(ctx context.Context) ApiGetMentionsByCitingDomainRequest {
	return ApiGetMentionsByCitingDomainRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *CitationIntelligenceAPIService) GetMentionsByCitingDomainExecute(r ApiGetMentionsByCitingDomainRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CitationIntelligenceAPIService.GetMentionsByCitingDomain")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/citation_intelligence/mentions_by_domain"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectId == nil {
		return nil, reportError("projectId is required and must be specified")
	}
	if r.domains == nil {
		return nil, reportError("domains is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project_id", r.projectId, "form", "")
	{
		t := *r.domains
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "domains", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "domains", t, "form", "multi")
		}
	}
	if r.model != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "model", r.model, "form", "")
	}
	if r.collectionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "collection_id", r.collectionId, "form", "")
	}
	if r.countryCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "country_code", r.countryCode, "form", "")
	}
	if r.languageCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "language_code", r.languageCode, "form", "")
	}
	if r.prompt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prompt", r.prompt, "form", "")
	}
	if r.from != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	}
	if r.to != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiListCitationGroupsRequest struct {
	ctx context.Context
	ApiService *CitationIntelligenceAPIService
	projectId *int32
	view *string
	page *int32
	perPage *int32
	order *string
	direction *string
	model *string
	collectionId *int32
	countryCode *string
	languageCode *string
	prompt *int32
	from *time.Time
	to *time.Time
	query *string
	sourceType *string
	sentiment *string
	contentGap *string
}

// Project ID
func (r ApiListCitationGroupsRequest) ProjectId(projectId int32) ApiListCitationGroupsRequest {
	r.projectId = &projectId
	return r
}

func (r ApiListCitationGroupsRequest) View(view string) ApiListCitationGroupsRequest {
	r.view = &view
	return r
}

func (r ApiListCitationGroupsRequest) Page(page int32) ApiListCitationGroupsRequest {
	r.page = &page
	return r
}

func (r ApiListCitationGroupsRequest) PerPage(perPage int32) ApiListCitationGroupsRequest {
	r.perPage = &perPage
	return r
}

func (r ApiListCitationGroupsRequest) Order(order string) ApiListCitationGroupsRequest {
	r.order = &order
	return r
}

func (r ApiListCitationGroupsRequest) Direction(direction string) ApiListCitationGroupsRequest {
	r.direction = &direction
	return r
}

// Filter by AI model. Models the API key&#39;s user has not enabled are silently dropped.
func (r ApiListCitationGroupsRequest) Model(model string) ApiListCitationGroupsRequest {
	r.model = &model
	return r
}

func (r ApiListCitationGroupsRequest) CollectionId(collectionId int32) ApiListCitationGroupsRequest {
	r.collectionId = &collectionId
	return r
}

// ISO country code (e.g. US, GB, DE)
func (r ApiListCitationGroupsRequest) CountryCode(countryCode string) ApiListCitationGroupsRequest {
	r.countryCode = &countryCode
	return r
}

// ISO language code (e.g. en, es, de)
func (r ApiListCitationGroupsRequest) LanguageCode(languageCode string) ApiListCitationGroupsRequest {
	r.languageCode = &languageCode
	return r
}

// Filter by prompt ID
func (r ApiListCitationGroupsRequest) Prompt(prompt int32) ApiListCitationGroupsRequest {
	r.prompt = &prompt
	return r
}

func (r ApiListCitationGroupsRequest) From(from time.Time) ApiListCitationGroupsRequest {
	r.from = &from
	return r
}

func (r ApiListCitationGroupsRequest) To(to time.Time) ApiListCitationGroupsRequest {
	r.to = &to
	return r
}

func (r ApiListCitationGroupsRequest) Query(query string) ApiListCitationGroupsRequest {
	r.query = &query
	return r
}

func (r ApiListCitationGroupsRequest) SourceType(sourceType string) ApiListCitationGroupsRequest {
	r.sourceType = &sourceType
	return r
}

func (r ApiListCitationGroupsRequest) Sentiment(sentiment string) ApiListCitationGroupsRequest {
	r.sentiment = &sentiment
	return r
}

func (r ApiListCitationGroupsRequest) ContentGap(contentGap string) ApiListCitationGroupsRequest {
	r.contentGap = &contentGap
	return r
}

func (r ApiListCitationGroupsRequest) Execute() (*http.Response, error) {
	return r.ApiService.ListCitationGroupsExecute(r)
}

/*
ListCitationGroups Grouped citation intelligence

Grouped citation intelligence by url / domain / host with per-model breakdown, citation rate, and avg citation position. Counts and citation rate include visible citations and background source references. Average position ignores rows with position=0. Owned and competitor source matching honor the project's exact-subdomain setting. Filter vocabulary aligns with `source_type` returned by the API.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListCitationGroupsRequest
*/
func (a *CitationIntelligenceAPIService) ListCitationGroups(ctx context.Context) ApiListCitationGroupsRequest {
	return ApiListCitationGroupsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *CitationIntelligenceAPIService) ListCitationGroupsExecute(r ApiListCitationGroupsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CitationIntelligenceAPIService.ListCitationGroups")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/citation_intelligence/groups"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectId == nil {
		return nil, reportError("projectId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project_id", r.projectId, "form", "")
	if r.view != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "view", r.view, "form", "")
	} else {
		var defaultValue string = "url"
		parameterAddToHeaderOrQuery(localVarQueryParams, "view", defaultValue, "form", "")
		r.view = &defaultValue
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.perPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", r.perPage, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", defaultValue, "form", "")
		r.perPage = &defaultValue
	}
	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order, "form", "")
	}
	if r.direction != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "direction", r.direction, "form", "")
	}
	if r.model != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "model", r.model, "form", "")
	}
	if r.collectionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "collection_id", r.collectionId, "form", "")
	}
	if r.countryCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "country_code", r.countryCode, "form", "")
	}
	if r.languageCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "language_code", r.languageCode, "form", "")
	}
	if r.prompt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prompt", r.prompt, "form", "")
	}
	if r.from != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	}
	if r.to != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	}
	if r.query != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "form", "")
	}
	if r.sourceType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source_type", r.sourceType, "form", "")
	}
	if r.sentiment != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sentiment", r.sentiment, "form", "")
	}
	if r.contentGap != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "content_gap", r.contentGap, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiListCitedUrlOccurrencesRequest struct {
	ctx context.Context
	ApiService *CitationIntelligenceAPIService
	projectId *int32
	urlSha256 string
	page *int32
	perPage *int32
}

// Project ID
func (r ApiListCitedUrlOccurrencesRequest) ProjectId(projectId int32) ApiListCitedUrlOccurrencesRequest {
	r.projectId = &projectId
	return r
}

func (r ApiListCitedUrlOccurrencesRequest) Page(page int32) ApiListCitedUrlOccurrencesRequest {
	r.page = &page
	return r
}

func (r ApiListCitedUrlOccurrencesRequest) PerPage(perPage int32) ApiListCitedUrlOccurrencesRequest {
	r.perPage = &perPage
	return r
}

func (r ApiListCitedUrlOccurrencesRequest) Execute() (*http.Response, error) {
	return r.ApiService.ListCitedUrlOccurrencesExecute(r)
}

/*
ListCitedUrlOccurrences Cited URL occurrences

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param urlSha256 64-character hex SHA-256 of the cited URL
 @return ApiListCitedUrlOccurrencesRequest
*/
func (a *CitationIntelligenceAPIService) ListCitedUrlOccurrences(ctx context.Context, urlSha256 string) ApiListCitedUrlOccurrencesRequest {
	return ApiListCitedUrlOccurrencesRequest{
		ApiService: a,
		ctx: ctx,
		urlSha256: urlSha256,
	}
}

// Execute executes the request
func (a *CitationIntelligenceAPIService) ListCitedUrlOccurrencesExecute(r ApiListCitedUrlOccurrencesRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CitationIntelligenceAPIService.ListCitedUrlOccurrences")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/citation_intelligence/urls/{url_sha256}/occurrences"
	localVarPath = strings.Replace(localVarPath, "{"+"url_sha256"+"}", url.PathEscape(parameterValueToString(r.urlSha256, "urlSha256")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectId == nil {
		return nil, reportError("projectId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project_id", r.projectId, "form", "")
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.perPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", r.perPage, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", defaultValue, "form", "")
		r.perPage = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
