/*
LLM Pulse API

REST API client for LLM Pulse AI visibility analytics.

API version: 1.47.0
Contact: info@llmpulse.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package llmpulse

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"time"
)


// OwnedMediaCommunitiesAPIService OwnedMediaCommunitiesAPI service
type OwnedMediaCommunitiesAPIService service

type ApiListOwnedMediaRequest struct {
	ctx context.Context
	ApiService *OwnedMediaCommunitiesAPIService
	projectId *int32
	provider *string
	page *int32
	perPage *int32
	view *string
	store *string
	owned *bool
	model *string
	collectionId *string
	countryCode *string
	languageCode *string
	brandKind *string
	range_ *int32
	from *time.Time
	to *time.Time
	output *string
}

// Project ID
func (r ApiListOwnedMediaRequest) ProjectId(projectId int32) ApiListOwnedMediaRequest {
	r.projectId = &projectId
	return r
}

// The platform to report on
func (r ApiListOwnedMediaRequest) Provider(provider string) ApiListOwnedMediaRequest {
	r.provider = &provider
	return r
}

func (r ApiListOwnedMediaRequest) Page(page int32) ApiListOwnedMediaRequest {
	r.page = &page
	return r
}

func (r ApiListOwnedMediaRequest) PerPage(perPage int32) ApiListOwnedMediaRequest {
	r.perPage = &perPage
	return r
}

// Row shape; the allowed set depends on provider
func (r ApiListOwnedMediaRequest) View(view string) ApiListOwnedMediaRequest {
	r.view = &view
	return r
}

// provider&#x3D;mobile_apps only
func (r ApiListOwnedMediaRequest) Store(store string) ApiListOwnedMediaRequest {
	r.store = &store
	return r
}

// Return only rows belonging to the account&#39;s own connected profile
func (r ApiListOwnedMediaRequest) Owned(owned bool) ApiListOwnedMediaRequest {
	r.owned = &owned
	return r
}

// Filter by AI model. Models the API key&#39;s user has not enabled are silently dropped.
func (r ApiListOwnedMediaRequest) Model(model string) ApiListOwnedMediaRequest {
	r.model = &model
	return r
}

// One collection/tag ID or a comma-separated list of IDs. A query value is always a string on the wire, so it is typed as one: the previous integer-or-string union made generators emit a wrapper type they could not serialize.
func (r ApiListOwnedMediaRequest) CollectionId(collectionId string) ApiListOwnedMediaRequest {
	r.collectionId = &collectionId
	return r
}

// One ISO country code or a comma-separated list (e.g. US,GB,DE)
func (r ApiListOwnedMediaRequest) CountryCode(countryCode string) ApiListOwnedMediaRequest {
	r.countryCode = &countryCode
	return r
}

// One ISO language code or a comma-separated list (e.g. en,es,de)
func (r ApiListOwnedMediaRequest) LanguageCode(languageCode string) ApiListOwnedMediaRequest {
	r.languageCode = &languageCode
	return r
}

// Filter by brand kind: brand (own brand/products), brand_other (competitors/other brands), non_brand (generic, no brand named). For fair 1:1 brand-vs-competitor comparisons (visibility, share of voice), use non_brand: brand-focused prompts skew results toward the brand they name. The in-app Overview page applies non_brand by default.
func (r ApiListOwnedMediaRequest) BrandKind(brandKind string) ApiListOwnedMediaRequest {
	r.brandKind = &brandKind
	return r
}

// Number of days to look back (alternative to from/to)
func (r ApiListOwnedMediaRequest) Range_(range_ int32) ApiListOwnedMediaRequest {
	r.range_ = &range_
	return r
}

func (r ApiListOwnedMediaRequest) From(from time.Time) ApiListOwnedMediaRequest {
	r.from = &from
	return r
}

// End of the window. A date-only value such as 2026-09-01 covers that whole day. Pass a full timestamp to end the window earlier.
func (r ApiListOwnedMediaRequest) To(to time.Time) ApiListOwnedMediaRequest {
	r.to = &to
	return r
}

// Rectangular output for BI tools (Tableau, Excel, Sheets, ELT). Omit for the default nested JSON. &#39;flat&#39; returns the same metadata plus &#39;columns&#39; and &#39;rows&#39;; &#39;csv&#39; returns those rows as text/csv. Errors are always returned as JSON.
func (r ApiListOwnedMediaRequest) Output(output string) ApiListOwnedMediaRequest {
	r.output = &output
	return r
}

func (r ApiListOwnedMediaRequest) Execute() (*http.Response, error) {
	return r.ApiService.ListOwnedMediaExecute(r)
}

/*
ListOwnedMedia List owned-media citations

Which owned-media content AI answers cite, by platform. `provider` is required. Each row carries a `yours` flag so you can compare your own presence against everyone else cited on the same platform. view=own_citations returns the raw citations of the connected profile only and stays empty until a profile is connected. For Reddit use /dimensions/reddit. Requires the Growth plan or above.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListOwnedMediaRequest
*/
func (a *OwnedMediaCommunitiesAPIService) ListOwnedMedia(ctx context.Context) ApiListOwnedMediaRequest {
	return ApiListOwnedMediaRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *OwnedMediaCommunitiesAPIService) ListOwnedMediaExecute(r ApiListOwnedMediaRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OwnedMediaCommunitiesAPIService.ListOwnedMedia")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dimensions/owned_media"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectId == nil {
		return nil, reportError("projectId is required and must be specified")
	}
	if r.provider == nil {
		return nil, reportError("provider is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project_id", r.projectId, "form", "")
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.perPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", r.perPage, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", defaultValue, "form", "")
		r.perPage = &defaultValue
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "provider", r.provider, "form", "")
	if r.view != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "view", r.view, "form", "")
	}
	if r.store != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "store", r.store, "form", "")
	} else {
		var defaultValue string = "google_play"
		parameterAddToHeaderOrQuery(localVarQueryParams, "store", defaultValue, "form", "")
		r.store = &defaultValue
	}
	if r.owned != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "owned", r.owned, "form", "")
	}
	if r.model != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "model", r.model, "form", "")
	}
	if r.collectionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "collection_id", r.collectionId, "form", "")
	}
	if r.countryCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "country_code", r.countryCode, "form", "")
	}
	if r.languageCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "language_code", r.languageCode, "form", "")
	}
	if r.brandKind != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "brand_kind", r.brandKind, "form", "")
	}
	if r.range_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "range", r.range_, "form", "")
	}
	if r.from != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	}
	if r.to != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	}
	if r.output != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "output", r.output, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiListRedditCitationsRequest struct {
	ctx context.Context
	ApiService *OwnedMediaCommunitiesAPIService
	projectId *int32
	page *int32
	perPage *int32
	view *string
	subreddit *string
	author *string
	status *string
	owned *bool
	brand *string
	order *string
	direction *string
	model *string
	collectionId *string
	countryCode *string
	languageCode *string
	brandKind *string
	range_ *int32
	from *time.Time
	to *time.Time
	output *string
}

// Project ID
func (r ApiListRedditCitationsRequest) ProjectId(projectId int32) ApiListRedditCitationsRequest {
	r.projectId = &projectId
	return r
}

func (r ApiListRedditCitationsRequest) Page(page int32) ApiListRedditCitationsRequest {
	r.page = &page
	return r
}

func (r ApiListRedditCitationsRequest) PerPage(perPage int32) ApiListRedditCitationsRequest {
	r.perPage = &perPage
	return r
}

func (r ApiListRedditCitationsRequest) View(view string) ApiListRedditCitationsRequest {
	r.view = &view
	return r
}

// Filter to one subreddit (name without the r/ prefix)
func (r ApiListRedditCitationsRequest) Subreddit(subreddit string) ApiListRedditCitationsRequest {
	r.subreddit = &subreddit
	return r
}

// Filter to one Reddit author
func (r ApiListRedditCitationsRequest) Author(author string) ApiListRedditCitationsRequest {
	r.author = &author
	return r
}

// view&#x3D;threads only
func (r ApiListRedditCitationsRequest) Status(status string) ApiListRedditCitationsRequest {
	r.status = &status
	return r
}

// Return only subreddits/authors the account has claimed as its own
func (r ApiListRedditCitationsRequest) Owned(owned bool) ApiListRedditCitationsRequest {
	r.owned = &owned
	return r
}

// Filter to citations whose scraped Reddit content mentions a brand: &#39;brand&#39; for the tracked brand, or a competitor id. Reads the page content, not the AI answer.
func (r ApiListRedditCitationsRequest) Brand(brand string) ApiListRedditCitationsRequest {
	r.brand = &brand
	return r
}

// Sort field; the allowed set depends on view
func (r ApiListRedditCitationsRequest) Order(order string) ApiListRedditCitationsRequest {
	r.order = &order
	return r
}

func (r ApiListRedditCitationsRequest) Direction(direction string) ApiListRedditCitationsRequest {
	r.direction = &direction
	return r
}

// Filter by AI model. Models the API key&#39;s user has not enabled are silently dropped.
func (r ApiListRedditCitationsRequest) Model(model string) ApiListRedditCitationsRequest {
	r.model = &model
	return r
}

// One collection/tag ID or a comma-separated list of IDs. A query value is always a string on the wire, so it is typed as one: the previous integer-or-string union made generators emit a wrapper type they could not serialize.
func (r ApiListRedditCitationsRequest) CollectionId(collectionId string) ApiListRedditCitationsRequest {
	r.collectionId = &collectionId
	return r
}

// One ISO country code or a comma-separated list (e.g. US,GB,DE)
func (r ApiListRedditCitationsRequest) CountryCode(countryCode string) ApiListRedditCitationsRequest {
	r.countryCode = &countryCode
	return r
}

// One ISO language code or a comma-separated list (e.g. en,es,de)
func (r ApiListRedditCitationsRequest) LanguageCode(languageCode string) ApiListRedditCitationsRequest {
	r.languageCode = &languageCode
	return r
}

// Filter by brand kind: brand (own brand/products), brand_other (competitors/other brands), non_brand (generic, no brand named). For fair 1:1 brand-vs-competitor comparisons (visibility, share of voice), use non_brand: brand-focused prompts skew results toward the brand they name. The in-app Overview page applies non_brand by default.
func (r ApiListRedditCitationsRequest) BrandKind(brandKind string) ApiListRedditCitationsRequest {
	r.brandKind = &brandKind
	return r
}

// Number of days to look back (alternative to from/to)
func (r ApiListRedditCitationsRequest) Range_(range_ int32) ApiListRedditCitationsRequest {
	r.range_ = &range_
	return r
}

func (r ApiListRedditCitationsRequest) From(from time.Time) ApiListRedditCitationsRequest {
	r.from = &from
	return r
}

// End of the window. A date-only value such as 2026-09-01 covers that whole day. Pass a full timestamp to end the window earlier.
func (r ApiListRedditCitationsRequest) To(to time.Time) ApiListRedditCitationsRequest {
	r.to = &to
	return r
}

// Rectangular output for BI tools (Tableau, Excel, Sheets, ELT). Omit for the default nested JSON. &#39;flat&#39; returns the same metadata plus &#39;columns&#39; and &#39;rows&#39;; &#39;csv&#39; returns those rows as text/csv. Errors are always returned as JSON.
func (r ApiListRedditCitationsRequest) Output(output string) ApiListRedditCitationsRequest {
	r.output = &output
	return r
}

func (r ApiListRedditCitationsRequest) Execute() (*http.Response, error) {
	return r.ApiService.ListRedditCitationsExecute(r)
}

/*
ListRedditCitations List cited Reddit content

Which Reddit content AI answers cite for your tracked prompts. view=subreddits (default) returns one row per subreddit with its citation count, unique authors and positive/negative sentiment split; view=authors returns one row per author; view=threads returns the individual cited threads with upvotes, comments, average position and dominant sentiment. Requires the Growth plan or above.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListRedditCitationsRequest
*/
func (a *OwnedMediaCommunitiesAPIService) ListRedditCitations(ctx context.Context) ApiListRedditCitationsRequest {
	return ApiListRedditCitationsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *OwnedMediaCommunitiesAPIService) ListRedditCitationsExecute(r ApiListRedditCitationsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OwnedMediaCommunitiesAPIService.ListRedditCitations")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dimensions/reddit"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectId == nil {
		return nil, reportError("projectId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project_id", r.projectId, "form", "")
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.perPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", r.perPage, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", defaultValue, "form", "")
		r.perPage = &defaultValue
	}
	if r.view != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "view", r.view, "form", "")
	} else {
		var defaultValue string = "subreddits"
		parameterAddToHeaderOrQuery(localVarQueryParams, "view", defaultValue, "form", "")
		r.view = &defaultValue
	}
	if r.subreddit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "subreddit", r.subreddit, "form", "")
	}
	if r.author != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "author", r.author, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.owned != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "owned", r.owned, "form", "")
	}
	if r.brand != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "brand", r.brand, "form", "")
	}
	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order, "form", "")
	}
	if r.direction != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "direction", r.direction, "form", "")
	} else {
		var defaultValue string = "desc"
		parameterAddToHeaderOrQuery(localVarQueryParams, "direction", defaultValue, "form", "")
		r.direction = &defaultValue
	}
	if r.model != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "model", r.model, "form", "")
	}
	if r.collectionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "collection_id", r.collectionId, "form", "")
	}
	if r.countryCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "country_code", r.countryCode, "form", "")
	}
	if r.languageCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "language_code", r.languageCode, "form", "")
	}
	if r.brandKind != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "brand_kind", r.brandKind, "form", "")
	}
	if r.range_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "range", r.range_, "form", "")
	}
	if r.from != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	}
	if r.to != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	}
	if r.output != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "output", r.output, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
